<ion-modal-view ng-controller="ChangeUsernameModalCtrl">
    <ion-header-bar>
        <h1 class="title">Change Username</h1>
    </ion-header-bar>
    <ion-content has-bouncing="false">
        <form name="form" novalidate>
            <div class="list customFormErrorList">
                <div ng-show="(form.username.$error.required || form.username.$error.minlength) && !form.username.$pristine" class="item help-block">
                    Please provide a valid username with at least 4 characters.
                </div>

                <div ng-show="errorInfo" class="item help-block help-block-error item-no-wrap">
                    {{errorInfo}}
                </div>
            </div>
            <div class="list">
                <label class="item item-input" ng-class="{ 'has-error' : beingSubmitted && (form.username.$error.required || form.username.$error.minlength) && !form.username.$pristine }">
                    <div class="input-label">
                        Username
                    </div>
                    <input type="text" ng-model="user.name" id="primaryInput" required name="username" autofocus minlength='4'>
                </label>
            </div>

            <div class="row">
                <div class="col-50 padding-horizontal padding-top">
                    <button class="button button-block button-positive" ng-disabled="form.$invalid || form.$pristine" ng-click="save();">
                        Save
                    </button>

                </div>
                <div class="col-50 padding-horizontal padding-top">
                    <button class="button button-block button-dark button-outline" ng-click="close();">
                        Cancel
                    </button>   
                </div>
            </div>
        </form>
    </ion-content>
</ion-modal-view>