<ion-modal-view ng-controller="ErrorModalCtrl">
    <ion-header-bar>
        <h2 class="title">Unfortunately, some Tasks were impossible to be scheduled.</h2>
    </ion-header-bar>
    <ion-content>
        <p>The Floating Tasks which could not be scheduled are available through the menu, under the <a class="item item-icon-left" ng-if="myItems.dirtyItems.length" ng-click="modalService.openModal('dirtyTasks');">
                <i class="icon ion-alert assertive"></i>
                Unscheduled Tasks
            </a> item.</p>
        <br />
        <button class="button button-block button-dark button-outline button-single button_close" ng-click="close();">
            Close
        </button>
    </ion-content>
</ion-modal-view>