<ion-modal-view ng-controller="EventModalCtrl">
    <ion-header-bar>
        <h1 class="title">{{currentItem.title ? currentItem.title : 'New Event'}}</h1>

        <button class="button button-assertive button-outline icon-right" ng-click="remove();" ng-if="currentItem._id">
            Delete
        </button>
    </ion-header-bar>
    <ion-content>
        <form name="$parent.form" novalidate>
            <div class="list customFormErrorList">
                <div ng-show="form.title.$error.required && !form.title.$pristine" class="item help-block">Please provide a valid title.</div>
                <div ng-show="form.startDate.$error.required" class="item help-block">Please provide a valid date.</div>
                <div ng-show="form.startTime.$error.required" class="item help-block">Please provide a valid time.</div>
                <div ng-show="form.repetitionEndDate.$error.required" class="item help-block">Please provide a valid date for repetition.</div>
                <div ng-show="form.duration.$error.required" class="item help-block">Please provide a valid duration.</div>
                <div ng-show="form.resource.$error.required" class="item help-block">Please provide a valid Calendar.</div>
                <div ng-show="currentItem.error" class="item help-block">{{currentItem.error}}</div>
            </div>
            <div class="list" style="margin-bottom:0;">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Calendar
                    </div>
                    <select ng-model="currentItem.resource" class="leftAlignedSelect" required name="resource"
                            ng-options="resource._id as resource.name for resource in myResources.resources">
                    </select>
                </label>

                <ion-toggle id="eventAllDay" ng-model="currentItem.allDay" ng-change="switchAllDay()" toggle-class="toggle-positive">All-Day</ion-toggle>

                <label class="item item-input" ng-class="{ 'has-error' : form.title.$invalid && !form.title.$pristine }">
                    <input placeholder="Title" autocomplete="off" type="text" ng-model="currentItem.title" id="eventPrimaryInput" required name="title">
                </label>
                <label class="item item-input">
                    <textarea placeholder="Description" ng-model="currentItem.desc" id="eventModalTextarea"></textarea>
                </label>

                <label class="item item-no-wrap" ng-show="currentItem.constraint.endDateText && currentItem.constraint.end.year() < 2030">
                    The latest this Event can end is on {{currentItem.constraint.endDateText}}, at {{currentItem.constraint.endTimeText}}.
                </label>

                <label class="item item-input" ng-class="{ 'has-error' : form.startDate.$invalid && !form.startDate.$pristine }">
                    <div class="input-label">
                        Start Date
                    </div>
                    <input ng-if="!$root.canDoDateTimeInputs" type="text" class="datepicker" ng-model="currentItem.startDate" name="startDate" required id="eventStartDate"/>
                    <input ng-if="$root.canDoDateTimeInputs" type="date" ng-model="currentItem.startDate" name="startDate" min="{{currentItem.constraint.start.format('YYYY-MM-DD')}}" max="{{currentItem.constraint.end.format('YYYY-MM-DD')}}" required id="eventStartDate" ng-change="processStartDateChange();"/>
                </label>

                <label class="item item-input" ng-show="!currentItem.allDay" ng-class="{ 'has-error' : form.startTime.$invalid && !form.startTime.$pristine }">
                    <div class="input-label">
                        Start Time
                    </div>
                    <input ng-if="!$root.canDoDateTimeInputs" type="text" class="timepicker" name="startTime" required id="eventStartTime" />
                    <input ng-if="$root.canDoDateTimeInputs" type="time" ng-model="currentItem.startDate" step="1800" min="{{currentItem.constraint.startTime}}" max="{{currentItem.constraint.endTime}}" name="startTime" id="eventStartTime" ng-required="!currentItem.allDay" ng-change="processStartDateChange();"/>
                </label>

                <label class="item item-input range" ng-class="{ 'has-error' : form.duration.$invalid && !form.duration.$pristine }">
                    <input type="range" min="1" max="{{$root.constants.maxEventDuration[currentItem.allDay ? 1 : 0]}}" ng-mouseup="processEventDuration();" ng-change="renderEventDuration();"
                           name="duration" ng-model="currentItem.dur" step="1" required id="eventDuration"/>
                    <div class="rangeInfo">
                        End Time [duration]: {{currentItem.endTimeText}} ({{currentItem.endDateText}}) [ {{currentItem.durText}} ]
                    </div>
                </label>

                <ion-toggle ng-model="data.showRepetition" ng-change="switchRepetition()" toggle-class="toggle-positive">Repetition</ion-toggle>

                <label class="item item-input item-nested-list no-top-border" ng-if="currentItem.repetition">
                    <div class="list nested-list" style="margin-bottom:0;">
                        <label class="item item-text item-no-wrap" ng-show="currentItem._id && (form.repetitionEndDate.$dirty || form.frequency.$dirty)">
                            You are changing the repetition, if you save this Event, all existing occurences will be overwritten.
                        </label>
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Frequency
                            </div>
                            <select ng-model="currentItem.repetition.frequency" class="leftAlignedSelect" name="frequency">
                                <option value ='Daily'>Daily</option>
                                <option value ='Weekly'>Weekly</option>
                                <option value ='Monthly'>Monthly</option>
                            </select>
                        </label>

                        <label class="item item-input">
                            <div class="input-label">
                                End Date
                            </div>
                            <input type="text" class="datepicker" ng-model="currentItem.repetition.endDate" name="repetitionEndDate" ng-change="processRepetitionEndDateChange" ng-required="data.showRepetition"/>
                        </label>
                    </div>
                </label>

                <ion-toggle ng-model="data.showCustomNotifications" ng-change="switchCustomNotifications()" toggle-class="toggle-positive">Custom Notifications</ion-toggle>

                <label class="item item-nested-list no-top-border" style="padding-bottom:0;border-bottom:0" ng-show="data.showCustomNotifications">
                    <div class="list nested-list" ng-show="currentItem.notifications.length > 0">
                        <div class="item item-button-right" ng-repeat="notification in currentItem.notifications| filter : {_id: event._id} : true">
                            <span class="bold">{{notification.amount}} </span> {{notification.timeUnit}}
                            <button class="button button-clear" on-tap="removeNotification($index); form.$setDirty();">
                                <i class="icon ion-trash-b assertive"></i>
                            </button>
                        </div>
                    </div>
                    <div class="list nested-list">
                        <div class="item" ng-show="currentItem.notifications.length === 0">
                            No notifications
                        </div>

                        <div class="item">
                            <input type="number" min="0" max="999" step="1" ng-model="data.newNotification.amount" class="inlineNumberInput" ng-change="processNotificationAmountChange()"/>
                            <select ng-model="data.newNotification.timeUnit" class="inlineSelect">
                                <option value="minutes">Minutes</option>
                                <option value="hours">Hours</option>
                                <option value="days">Days</option>
                            </select>
                            <button on-tap="addNotification();" class="button button-small inlineAddButton">
                                <i class="icon ion-plus"></i>
                            </button>
                        </div>
                    </div>
                </label>

                <label class="item item-nested-list" style="padding-bottom:0;border-bottom:0">
                    <div class="input-label">
                        Dependent Tasks
                    </div>
                    <div class="list nested-list" ng-show="currentItem.blocksForShow.length > 0">
                        <div class="item item-button-right" ng-repeat="event in currentItem.blocksForShow| filter : {_id: event._id} : true">
                            <span class="bold">{{event.title}} </span> {{event.shortInfo}}
                            <button class="button button-clear" on-tap="myItems.removeDependency(currentItem, event); form.$setDirty();">
                                <i class="icon ion-trash-b assertive"></i>
                            </button>
                        </div>
                    </div>
                </label>

                <label class="item item-select">
                    <select id="eventDependencies" ng-model="newDependency" style="width:100%;max-width:100%;direction:ltr;padding-left:25px;font-size:.9em;"
                            ng-options="event._id as event.info for event in filteredDependencies | orderBy:startValueForOrderingOfDependencies"
                            ng-change="myItems.addDependency(currentItem, newDependency)">
                        <option ng-selected="true" value="">{{filteredDependencies.length === 0 ? 'no other possible Dependent Task, see Help for explanation' : 'select a dependent task'}}</option>
                    </select>
                </label>
            </div>

            <div class="row">
                <div class="col-50 padding-horizontal padding-top">
                    <button id="eventSave" class="button button-block button-positive" ng-disabled="form.$invalid || form.$pristine || currentItem.error" ng-click="save();">
                        Save
                    </button>

                </div>
                <div class="col-50 padding-horizontal padding-top">
                    <button class="button button-block button-outline button-stable" ng-click="close();">
                        Cancel
                    </button>   
                </div>
            </div>
        </form>
    </ion-content>
</ion-modal-view>