<ion-modal-view ng-controller="EventModalCtrl">
    <ion-header-bar>
        <h1 class="title">{{currentItem.title ? currentItem.title : 'New Event'}}</h1>

        <button class="button button-assertive button-outline icon-right" ng-click="remove();" ng-if="currentItem._id">
            Delete
        </button>
    </ion-header-bar>
    <ion-content>
        <form name="$parent.form" novalidate>
            <div class="list customFormErrorList">
                <div ng-show="form.title.$error.required && !form.title.$pristine" class="item help-block">Please provide a valid title.</div>
                <div ng-show="form.startDate.$error.required" class="item help-block">Please provide a valid date.</div>
                <div ng-show="form.fixedStartTime.$error.required" class="item help-block">Please provide a valid time.</div>
                <div ng-show="form.fixedDuration.$error.required" class="item help-block">Please provide a valid duration.</div>
                <div ng-show="form.fixedAllDayStartDate.$error.required" class="item help-block">Please provide a valid date.</div>
                <div ng-show="form.fixedAllDayDuration.$error.required" class="item help-block">Please provide a valid duration.</div>
                <div ng-show="form.resource.$error.required" class="item help-block">Please provide a valid resource.</div>
                <div ng-show="form.resources.$error.required" class="item help-block">Please provide valid resources.</div>
                <div ng-show="currentItem.error" class="item help-block">{{currentItem.error}}</div>
            </div>
            <div class="list" style="margin-bottom:0;">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Resource
                    </div>
                    <select ng-model="currentItem.resource" class="leftAlignedSelect" required name="resource"
                            ng-options="resource._id as resource.name for resource in myResources.resources">
                    </select>
                </label>

                <ion-toggle ng-model="currentItem.allDay" ng-change="switchAllDay()" toggle-class="toggle-assertive">All-Day</ion-toggle>
                
                <label class="item item-input" ng-class="{ 'has-error' : form.title.$invalid && !form.title.$pristine }">
                    <input placeholder="Title" autocomplete="off" type="text" ng-model="currentItem.title" id="primaryInput" required name="title">
                </label>
                <label class="item item-input">
                    <textarea placeholder="Description" ng-model="currentItem.desc" id="eventModalTextarea"></textarea>
                </label>

                <label class="item item-no-wrap" ng-show="currentItem.constraint.endDateText && currentItem.constraint.end.year() < 2030">c
                    The latest this Event can end is on {{currentItem.constraint.endDateText}}, at {{currentItem.constraint.endTimeText}}.
                </label>

                <label class="item item-input" ng-class="{ 'has-error' : form.startDate.$invalid && !form.startDate.$pristine }">
                    <div class="input-label">
                        Start Date
                    </div>
                    <input readonly="true" type="text" ng-model="currentItem.startDateText" ng-click="openDatePicker();"
                           name="startDate" required id="startDate"/>
                </label>

                <label class="item item-input" ng-show="!currentItem.allDay" ng-class="{ 'has-error' : form.fixedStartTime.$invalid && !form.fixedStartTime.$pristine }">
                    <div class="input-label">
                        Start Time
                    </div>
                    <input readonly="true" type="text" ng-model="currentItem.startTimeText" ng-click="openTimePicker('start');" name="fixedStartTime" id="fixedStartTime"
                           ng-required="!currentItem.allDay"/>
                </label>

                <label class="item item-input range" ng-class="{ 'has-error' : form.duration.$invalid && !form.duration.$pristine }">
                    <input type="range" min="1" max="{{$root.settings.maxEventDuration[currentItem.allDay ? 1 : 0]}}" ng-mouseup="processEventDuration();" ng-change="renderEventDuration();"
                           name="fixedDuration" ng-model="currentItem.dur" step="1" required id="duration"/>
                    <div class="rangeInfo">
                        End Time [duration]: {{currentItem.endTimeText}} ({{currentItem.endDateText}}) [ {{currentItem.durText}} ]
                    </div>
                </label>
                
                <label class="item item-nested-list" style="padding-bottom:0;border-bottom:0">
                    <div class="input-label">
                        Dependent Tasks
                    </div>
                    <div class="list nested-list" ng-show="currentItem.blocksForShow.length > 0">
                        <div style="border:0;" class="item item-button-right" ng-repeat="event in currentItem.blocksForShow| filter : {_id: event._id} : true">
                            <span class="bold">{{event.title}}</span> on {{event.startDateText}} at {{event.startTimeText}}
                            <button class="button button-clear" on-tap="myItems.removeDependency(currentItem, event); form.$setDirty();">
                                <i class="icon ion-trash-b assertive"></i>
                            </button>
                        </div>
                    </div>
                </label>

                <label class="item item-select">
                    <select ng-model="newDependency" style="width:100%;max-width:100%;direction:ltr;padding-left:25px;font-size:.9em;"
                            ng-options="event._id as event.info for event in filteredDependencies = (myItems.items | filter : blocksFilter : true | orderBy:startValueForOrderingOfDependencies)"
                            ng-change="myItems.addDependency(currentItem, newDependency)">
                        <option ng-selected="true" value="">{{filteredDependencies.length === 0 ? 'no other possible Dependent Task, see Help for explanation' : 'select a dependent task'}}</option>
                    </select>
                </label>
            </div>

            <div class="row">
                <div class="col-50 padding-horizontal padding-top">
                    <button id="taskSave" class="button button-block button-positive" ng-disabled="form.$invalid || form.$pristine || currentItem.error" ng-click="save();">
                        Save
                    </button>

                </div>
                <div class="col-50 padding-horizontal padding-top">
                    <button class="button button-block button-outline button-stable" ng-click="close();">
                        Cancel
                    </button>   
                </div>
            </div>
        </form>
    </ion-content>
</ion-modal-view>