<ion-modal-view ng-controller="FeedbackModalCtrl">
    <ion-header-bar>
        <h1 class="title">Feedback</h1>
    </ion-header-bar>
    <ion-content has-bouncing="false">
        <div class="list" ng-show="data.successInfo">
            <div class="item help-block item-no-wrap">
                {{data.successInfo}}
            </div>
            <button class="button button-block button-outline button-positive button-single marginTop1" ng-click="close();">
                Close
            </button>
        </div>
        <form name="$parent.form" ng-show="!data.successInfo" novalidate>
            <div class="list customFormErrorList">
                <div ng-show="data.errorInfo" class="item help-block help-block-error item-no-wrap">
                    {{data.errorInfo}}
                </div>
            </div>
            <div class="list">
                <label class="item item-input">
                    <textarea placeholder="Send us a message..." ng-model="data.feedbackText" required id="feedbackModalTextarea"></textarea>
                </label>
            </div>

            <div class="row">
                <div class="col-50 padding-horizontal padding-top">
                    <button class="button button-block button-positive" ng-disabled="form.$invalid" ng-click="save();">
                        Send
                    </button>
                </div>
                <div class="col-50 padding-horizontal padding-top">
                    <button class="button button-block button-outline button-dark" ng-click="close();">
                        Cancel
                    </button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-modal-view>