<ion-modal-view ng-controller="FloatToFixedModalCtrl">
    <ion-header-bar>
        <h1 class="title">
            Fixing a Floating Task
        </h1>
    </ion-header-bar>

    <ion-content>
        <div class="list customFormErrorList">
            <div ng-show="myItems.currentItem.error" class="item help-block">{{myItems.currentItem.error}}</div>
        </div>
        
        <h2 class="title" ng-show="!myItems.currentItem.error">
            This will change Task type to Fixed. The Calendar to which this event will be put is the first one from the set of admissible Calendars for this task. Proceed?
        </h2>

        <div class="row" ng-show="!myItems.currentItem.error">
            <div class="col-50 padding-horizontal padding-top">
                <button id="taskSave" class="button button-block button-positive" ng-click="save();">
                    Yes
                </button>

            </div>
            <div class="col-50 padding-horizontal padding-top">
                <button class="button button-block button-outline button-stable" ng-click="close();">
                    Cancel
                </button>   
            </div>
        </div>
    </ion-content>
</ion-modal-view>