<div class="has-header maxWidth-1000" ng-class="{'marginTop3':(!$root.isMobileLow && !$root.isMobileNarrow)}" has-bouncing="false" scroll="true">
    <div class="list" ng-show="successInfo">
        <div class="item help-block item-no-wrap">
            {{successInfo}}
        </div>
    </div>
    <form name="forgottenPasswordForm" ng-show="!successInfo" novalidate class="marginSides3">
        <div class="list customFormErrorList">
            <div ng-show="beingSubmitted && (forgottenPasswordForm.email.$error.required || forgottenPasswordForm.email.$error.email) && !forgottenPasswordForm.email.$pristine" class="item help-block">
                Please provide a valid email.
            </div>

            <div ng-show="errorInfo" class="item help-block help-block-error item-no-wrap">
                {{errorInfo}}
            </div>
        </div>

        <div class="list">
            <label class="item item-input">
                <div class="input-label">
                    E-mail
                </div>
                <input autofocus type="email" ng-model="data.email" id="emailEdit" required name="email"
                       ng-class="{ 'has-error' : beingSubmitted && (forgottenPasswordForm.email.$error.required || forgottenPasswordForm.email.$error.email) && !forgottenPasswordForm.email.$pristine }">
            </label>
        </div>

        <button class="button button-block button-positive button-single" ng-disabled="forgottenPasswordForm.$invalid" ng-click="sendPasswordResetLink();">
            Reset Password
        </button>
        <div class="marginTop3 marginSides1">Back to login instead?</div>
        <button class="button button-block button-positive button-single marginTop1" ng-click="$root.goToLogin();">
            Login
        </button>
    </form>
</div>