<ion-modal-view ng-controller="HelpModalCtrl">
    <ion-header-bar>
        <h1 class="title">Help</h1>
    </ion-header-bar>
    <!-- This is a hack how to know what modal is this template for - for some bookkeeping, at the time of writing - 20160729 - in calendar.js -->
    <ion-content class="modalNamingSearch" name="help" style="margin-bottom:1em;" ng-keyup="$root.keyUpHandler($event.keyCode);">
        <!-- This is a horrible hack, but without this, keyup event won't fire -->
        <input type="text" style="position:absolute;top:-10000px;" id="primaryInput"/>

        <ion-list>
            <div ng-repeat="group in groups">
                <ion-item class="item-stable help-item"
                          ng-click="toggleGroup(group)"
                          ng-class="{active: group.shown}">
                    <i class="icon" ng-class="group.shown ? 'ion-minus' : group.icon"></i>
                    &nbsp;
                    {{group.name}}
                    <div ng-bind-html="group.content" ng-show="group.shown"></div>
                </ion-item>
            </div>
        </ion-list>
        <button class="button button-block button-dark button-outline button-single" ng-click="closeModal('help');">
            Close
        </button>
    </ion-content>
</ion-modal-view>