<ion-modal-view ng-controller="ICalUploadModalCtrl">
    <ion-header-bar>
        <h1 class="title">Upload iCal file</h1>
    </ion-header-bar>
    <div class="list marginSides3 marginTop5" ng-show="successInfo">
        <div class="item help-block item-no-wrap">
            {{successInfo}}
        </div>
    </div>
    <ion-content ng-show="!successInfo">
        <form name="$parent.form" novalidate>
            <div class="list customFormErrorList">
                <div ng-show="form.file.$error.required && !form.file.$pristine" class="item help-block">Please provide a valid file.</div>
                <div ng-show="errorInfo" class="item help-block help-block-error item-no-wrap">
                    {{errorInfo}}
                </div>
            </div>
            
            <div class="list">
                <label class="item item-input" ng-class="{ 'has-error' : form.file.$invalid && !form.file.$pristine }">
                    <div class="input-label">
                        iCalendar File
                    </div>
                    <input type="file" file-model="$root.icalFile" id="uploadedFileEdit" required name="uploadedFile" accept=".ical,.ics" class="inputfile">
                    <span class="inputfile-label">{{$root.icalFile ? $root.icalFile.name : 'Choose an iCalendar file'}}</span>
                </label>
                <ion-item class="item item-text item-no-wrap">
                    <h2>How will your file be processed?</h2>
                    <ul>
                        <li><span>File size cannot be larger than 20MB. Such files will be rejected by the server.</span></li>
                        <li><span>Only events in future will be imported.</span></li>
                        <li><span>Only events that occur no later than {{weeksFromSettings}} weeks in the future will be imported.</span></li>
                        <li><span>Events will be imported respecting their time zone.</span></li>
                        <li><span>Only events that have not been previously imported will be imported.</span></li>
                    </ul>
                </ion-item>
            </div>

            <div class="row">
                <div class="col-50 padding-horizontal padding-top">
                    <button class="button button-block button-positive" ng-disabled="!$root.icalFile" ng-click="save();">
                        Save
                    </button>

                </div>
                <div class="col-50 padding-horizontal padding-top">
                    <button class="button button-block button-outline button-stable" ng-click="close();">
                        Cancel
                    </button>   
                </div>
            </div>
        </form>
    </ion-content>
</ion-modal-view>