<ion-modal-view class="leftMenu">
    <ion-content ng-controller="LeftMenuModalCtrl">
        <div class="list">
            <span class="list-divider">Tasks</span>
            <a class="item item-icon-left" ng-if="myEvents.dirtyEvents.length" ng-click="modalService.closeModal('leftMenu');
                        modalService.openModal('dirtyTasks');">
                <i class="icon ion-alert assertive"></i>
                Unscheduled Tasks
            </a>

            <a id="newtask" class="item item-icon-left" ng-click="modalService.closeModal('leftMenu');
                        myEvents.newCurrentEvent();
                        modalService.openModal('task');">
                <i class="icon ion-plus-round positive"></i>
                New Task
            </a>

            <a class="item item-icon-left" ng-click="modalService.closeModal('leftMenu');
                        modalService.openModal('iCalUpload');">
                <i class="icon ion-upload positive"></i>
                Import from iCal
            </a>

            <a class="item item-icon-left" ng-click="modalService.closeModal('leftMenu');
                        modalService.openModal('removeAll');">
                <i class="icon ion-trash-b dark"></i>  
                Delete all Tasks
            </a>
        </div>

        <div class="list">
            <span class="list-divider">Users &amp; Resources</span>
            <a class="item item-icon-left" ng-click="modalService.closeModal('leftMenu');
                        modalService.openModal('users');">
                <i class="icon ion-person-stalker positive"></i>
                Manage Users
            </a>
            <a class="item item-icon-left" ng-click="modalService.closeModal('leftMenu');
                        modalService.openModal('resources');">
                <i class="icon ion-levels positive"></i>
                Manage Resources
            </a>
        </div>

        <div class="list">

            <span class="list-divider">Help</span>
            <a id="helplink" ng-if="!$root.isMobileNarrow && !$root.isMobileLow" class="item item-icon-left" ng-click="modalService.closeModal('leftMenu');
                        runTour();">
                <i class="icon ion-university positive"></i>  
                Tour
            </a>

            <a class="item item-icon-left" ng-click="modalService.closeModal('leftMenu');
                        modalService.openModal('help');">
                <i class="icon ion-help-buoy positive"></i>
                Help
            </a>

            <a class="item item-icon-left" ng-click="modalService.closeModal('leftMenu');
                        modalService.openModal('privacyPolicy');">
                <i class="icon ion-locked positive"></i>
                Privacy Policy
            </a>

            <a class="item item-icon-left" ng-click="modalService.closeModal('leftMenu');
                        modalService.openModal('feedback');">
                <i class="icon ion-mic-a positive"></i>
                Send Feedback
            </a>
        </div>

        <div class="list">
            <span class="list-divider">Settings</span>
            <a class="item item-icon-left" ng-click="modalService.closeModal('leftMenu');
                        modalService.openModal('changeUsername');">
                <i class="icon ion-person positive"></i>
                Change Username
            </a>

            <a class="item item-icon-left" ng-click="modalService.closeModal('leftMenu');
                        modalService.openModal('changePassword');">
                <i class="icon ion-locked positive"></i>
                Change Password
            </a>
        </div>

        <div class="list">
              <a class="item item-icon-left" href="https://www.schedulogy.com/home" target="_blank">
                <i class="icon ion-home positive"></i>
                SCHEDULOGY website
            </a>
           <a class="item item-icon-left" ng-click="modalService.closeModal('leftMenu');
                        $root.goToLogin()">
                <i class="icon ion-log-out positive"></i>
                Logout
            </a>
        </div>
    </ion-content>
</ion-modal-view>
