<ion-header-bar align-title="left" class="bar bar-header bar-dark" id="mainHeader">
    <button id="menuOpener" class="button button-clear ion-navicon button-icon button-hover-balanced" 
            ng-class="{'button-assertive': myEvents.dirtyEvents.length, 'button-light': !myEvents.dirtyEvents.length}" ng-if="$root.currentUser" ng-click="modalService.openModal('leftMenu')"></button>
    <div class="h1 title padding-horizontal margin-left-menu">
        SCHEDULOGY <span>BETA</span>
    </div>
    <div class="buttons">
        <span class="button button-clear button-light" style="cursor:initial;" ng-if="$root.currentUser && !$root.isMobileNarrow">
            {{$root.currentUser.username}}
        </span>
        <span class="button button-icon" ng-click="modalService.openModal('help');">
            <i class="icon ion-help-circled light" style="color:#ffa400;"><div style="height:20px;width:12px;background:white;position:relative;top:-27px;left:11px;z-index:-1"></div></i>
        </span>
    </div>
</ion-header-bar>

<ion-content class="has-header no-overflow" has-bouncing="false" scroll="true" zoom="true">
    <div ui-view>

    </div>
</ion-content>

<ion-content has-bouncing="false" scroll="true" ng-show="$root.isOffline || $root.isLoading" style="z-index:20;width:100%;background-color:rgba(0, 0, 0, 0.15);position:absolute;top:0;bottom:0;left:0;right:0;">
    <div class="app-info-wrapper" ng-show="$root.isOffline">
        <div class="app-info">
            <ion-spinner icon="lines" class="spinner-positive"></ion-spinner>
            <br />
            Waiting for connection
        </div>
    </div>
    
    <div class="app-info-wrapper" ng-show="$root.isLoading">
        <div class="app-info">
            <ion-spinner icon="lines" class="spinner-positive"></ion-spinner>
            <br />
            Loading
        </div>
    </div>
</ion-content>

<div class="footer" ng-if="!$root.isMobileNarrow && !$root.isMobileLow">
    <div class="footer-title">Version: {{appVersion}}</div>
</div>