<ion-header-bar align-title="left" class="bar bar-header bar-light" id="mainHeader">
    <button id="menuOpener" class="button ion-navicon button-icon" ng-if="$root.smallScreen" ng-click="toggleMenu()"
            ng-class="{'red': myItems.dirtyItems.length}" ></button>
    <div class="h1 title " ng-class="{'margin-left-menu' : $root.smallScreen, 'padding-horizontal' : $root.smallScreen}">
        SCHEDULOGY <span>BETA</span>
    </div>

    <div class="buttons">
        <span class="button button-outline button-dark" ng-click="modalService.openModal('help');" style="color:black;">
            <i class="icon ion-help-circled" ></i>
            Help
        </span>
    </div>

    <div class="topLauncher" ng-if="$root.smallScreen">
        <span class="button button-assertive" ng-click="$('.topLauncherTypes').toggle();
            myItems.newCurrentItem('event');
            modalService.openModal('event');" style="background-color:#387ef5;">
            Event
        </span>
        <span class="button button-assertive" ng-click="$('.topLauncherTypes').toggle();
            myItems.newCurrentItem('task');
            modalService.openModal('task');" style="background-color: #ffa400;">
            Task
        </span>
        <span class="button button-assertive" ng-click="$('.topLauncherTypes').toggle();
            myItems.newCurrentItem('reminder');
            modalService.openModal('reminder');" style="background-color: #bd0000;">
            Reminder
        </span>
    </div>
</ion-header-bar>

<ion-side-menus>
    <!-- Left menu -->
    <ion-side-menu side="left" expose-aside-when="(min-width:{{$root.constants.smallScreen}}px)">
        <ion-content class="leftMenu">
            <div class="list">
                <span class="item item-small" style="border-top:0;text-align:center;font-size:0.85em;color:#aaa;">
                    Logged-in as:<br />
                    <span>{{$root.currentUser.email}}</span>
                </span>
                <a class="item item-icon-left item-small" ng-if="myItems.dirtyItems.length" ng-click="toggleMenu();
                    modalService.openModal('dirtyTasks');">
                    <i class="icon ion-alert assertive"></i>
                    Unscheduled Tasks
                </a>

                <a id="newevent" class="item item-small" ng-if="!$root.smallScreen" ng-click="toggleMenu();
                    myItems.newCurrentItem('event');
                    modalService.openModal('event');">

                    <span class="button button-assertive" style="background-color:#387ef5;padding:2px 20px;line-height: 20px;min-height:0;width:100%;">
                        New Event
                    </span>
                </a>

                <a id="newtask" class="item item-small" ng-if="!$root.smallScreen" ng-click="toggleMenu();
                    myItems.newCurrentItem('task');
                    modalService.openModal('task');">

                    <span class="button button-assertive" style="background-color:#ffa400;padding:2px 20px;line-height: 20px;min-height:0;width:100%">
                        New Task
                    </span>
                </a>

                <a id="newreminder" class="item item-small" ng-if="!$root.smallScreen"s ng-click="toggleMenu();
                    myItems.newCurrentItem('reminder');
                    modalService.openModal('reminder');">

                    <span class="button button-assertive" style="background-color:#bd0000;padding:2px 20px;line-height: 20px;min-height:0;width:100%">
                        New Reminder
                    </span>
                </a>

                <a class="item item-icon-left item-small" ng-if="$root.smallScreen" ng-click="toggleMenu();
                    switchToView('agendaDay');">
                    <i class="icon ion-calendar"></i>
                    Day
                </a>

                <a class="item item-icon-left item-small" ng-if="$root.smallScreen" ng-click="toggleMenu();
                    switchToView('agenda3Day');">
                    <i class="icon ion-more"></i>
                    3 Days
                </a>

                <a class="item item-icon-left item-small" ng-if="$root.smallScreen" ng-click="toggleMenu();
                    switchToView('agendaWeek');">
                    <i class="icon ion-more"></i>
                    Week
                </a>

                <a class="item item-icon-left item-small" ng-if="$root.smallScreen" ng-click="toggleMenu();
                    switchToView('month');">
                    <i class="icon ion-grid"></i>
                    Month
                </a>

                <a class="item item-icon-left item-small" ng-if="$root.smallScreen" ng-click="toggleMenu();
                    switchToView('listMonth');">
                    <i class="icon ion-clipboard"></i>
                    List
                </a>
            </div>

            <div class="list">

                <a class="item item-icon-left item-small" ng-click="toggleMenu();
                    modalService.openModal('iCalUpload');">
                    <i class="icon ion-upload"></i>
                    Import from iCal
                </a>

                <a class="item item-icon-left item-small" ng-click="toggleMenu();
                    modalService.openModal('removeAll');">
                    <i class="icon ion-trash-b"></i>  
                    Delete all Tasks
                </a>
                <a class="item item-icon-left item-small" ng-click="toggleMenu();
                    modalService.openModal('users');">
                    <i class="icon ion-person-stalker"></i>
                    Manage Tenant
                </a>
                <a id="resourcesLink" class="item item-icon-left item-small" ng-click="toggleMenu();
                    modalService.openModal('resources');">
                    <i class="icon ion-levels"></i>
                    Manage Resources
                </a>
            </div>

            <div class="list">
                <a class="item item-icon-left item-small" ng-click="toggleMenu();
                    modalService.openModal('tutorial');" style="background-color: #fcf8e3">
                    <i class="icon ion-university"></i>  
                    <strong>Tutorial</strong>
                </a>

                <a id="helplink" class="item item-icon-left item-small" ng-click="toggleMenu();
                    modalService.openModal('help');">
                    <i class="icon ion-help" ></i>
                    Help
                </a>

                <a class="item item-icon-left dark item-small" ng-click="toggleMenu();
                    modalService.openModal('feedback');">
                    <i class="icon ion-mic-a dark"></i>
                    Send Feedback
                </a>
                
                <a class="item item-icon-left item-small" ng-click="toggleMenu();
                    $root.goToLogin(true)">
                    <i class="icon ion-log-out dark"></i>
                    Logout
                </a>
            </div>

            <div class="list" style="margin-top:40px;">
                <a class="item item-icon-left item-xsmall" ng-click="toggleMenu();
                    modalService.openModal('privacyPolicy');">
                    Privacy Policy
                </a>

                <a class="item item-icon-left item-xsmall" ng-click="toggleMenu();
                    modalService.openModal('termsOfService');">
                    Terms of Service
                </a>

                <a class="item item-icon-left item-xsmall" href="https://www.schedulogy.com/home" target="_blank">
                    SCHEDULOGY website
                </a>

                <span class="item item-icon-left item-xsmall">
                    Version: {{$root.settings.appVersion}}
                </span>
            </div>
        </ion-content>
    </ion-side-menu>

    <ion-side-menu-content drag-content="false">
        <ion-content class="has-header no-overflow" has-bouncing="false" scroll="true" zoom="true">
            <div ui-view>

            </div>
        </ion-content>
    </ion-side-menu-content>

</ion-side-menus>

<ion-content has-bouncing="false" scroll="true" ng-show="$root.isLoading" style="z-index:20;width:100%;background-color:white;position:absolute;top:44px;bottom:0;left:0;right:0;">
   <div class="app-info-wrapper" ng-show="$root.isLoading">
        <div class="app-info">
            <ion-spinner icon="lines" class="spinner-positive"></ion-spinner>
            <br />
            Loading
        </div>
    </div>
</ion-content>

<ion-content has-bouncing="false" scroll="true" id="isOffline" style="z-index:21;width:100%;background-color:white;position:absolute;top:44px;bottom:0;left:0;right:0;display:none">
    <div class="app-info-wrapper">
        <div class="app-info">
            <ion-spinner icon="lines" class="spinner-positive"></ion-spinner>
            <br />
            Waiting for connection
        </div>
    </div>
</ion-content>