<div ui-view class="simpleScreenWrapper">
    <div class="simpleScreen" has-bouncing="false" scroll="true" ng-show="linkChecked">
        <h1>SCHEDULOGY</h1>
        <div class="list" ng-show="successInfo">
            <div class="item help-block item-no-wrap">
                {{successInfo}}
            </div>
            <button class="button button-block button-positive button-single marginTop3" ng-click="$root.goToLogin();">
                Go to Login
            </button>
        </div>
        <form name="$parent.form" ng-show="!successInfo" novalidate>
            <div class="list customFormErrorList">
                <div ng-show="beingSubmitted && form.password.$error.required && !form.password.$pristine" class="item help-block item-no-wrap">
                    Please provide a valid password.
                </div>
                <div ng-show="beingSubmitted && (form.password.$error.complexity || form.password.$error.minlength) && !form.password.$pristine && !form.password.$error.required" class="item help-block item-no-wrap">
                    Password does not meet complexity requirements.
                    <br/>
                    The password has to have {{passwordRules.minLength}} or more characters from {{passwordRules.minGroups}} or more of the groups:
                    <ul>
                        <li>a, b, c, ...</li>
                        <li>A, B, C, ...</li>
                        <li>1, 2, 3, ...</li>
                    </ul>
                </div>
                <div ng-show="beingSubmitted && form.repeatPassword.$error.required && !form.repeatPassword.$pristine && !form.password.$error.required" class="item help-block">
                    Please repeat the password.
                </div>
                <div ng-show="beingSubmitted && !form.repeatPassword.$error.required && form.repeatPassword.$error.repeat && !form.repeatPassword.$pristine && !form.password.$error.required" class="item help-block">
                    Passwords do not match.
                </div>
                <div ng-show="errorInfo" class="item help-block help-block-error item-no-wrap">
                    {{errorInfo}}
                </div>
            </div>

            <p>
                The password has to have {{passwordRules.minLength}} or more characters from {{passwordRules.minGroups}} or more of the groups:
            </p>

            <ul style="list-style:square;margin-left:30px;padding-left:10px;">
                <li>a, b, c, ...</li>
                <li>A, B, C, ...</li>
                <li>1, 2, 3, ...</li>
            </ul>
            <br />
            
            <div class="list" ng-show="!errorInfo">
                <label class="item item-input">
                    <input placeholder="Password" autofocus type="password" ng-model="data.password" id="passwordEdit" complex-password required name="password"
                           ng-class="{ 'has-error' : beingSubmitted && (form.password.$error.required || form.password.$error.complexity || form.password.$error.minlength) && !form.password.$pristine }">
                </label>

                <label class="item item-input" style="margin-top:4px;">
                    <input placeholder="Repeat Password" type="password" ng-model="data.confirmPassword" repeat-password="password" required name="repeatPassword"
                           ng-class="{ 'has-error' : beingSubmitted && (form.repeatPassword.$error.required || form.repeatPassword.$error.repeat) && !form.repeatPassword.$pristine }">
                </label>
            </div>

            <button class="button button-block button-positive button-single" ng-disabled="form.$pristine" ng-click="setPassword()" ng-show="!errorInfo">
                Set Password &amp; Log In
            </button>
            <div class="marginTop3 marginSides1">Do you want to go to the login screen instead?</div>
            <button class="button button-block button-positive button-single marginTop1" ng-click="$root.goToLogin();">
                Login
            </button>
        </form>
    </div>
</div>