<div class="has-header maxWidth-1000 marginTop5" has-bouncing="false" scroll="true">
    <div ng-show="successInfo">
        {{successInfo}}
        <button class="button button-block button-positive button-single marginTop3" ng-click="$root.goToLogin();">
            Go to Login
        </button>
    </div>
    <form name="passwordResetForm" ng-show="!successInfo" novalidate ng-keyup="keyUpHandler($event.keyCode);">
        <div class="list customFormErrorList">
            <div ng-show="beingSubmitted && passwordResetForm.password.$error.required && !passwordResetForm.password.$pristine" class="item help-block">
                Please provide a valid password.
            </div>
            <div ng-show="beingSubmitted && (passwordResetForm.password.$error.complexity || passwordResetForm.password.$error.minlength) && !passwordResetForm.password.$pristine" class="item help-block">
                Password does not meet complexity requirements.
                <br/>
                The password has to have 8 or more characters from 2 or more of the groups:
                <ul>
                    <li>a, b, c, ...</li>
                    <li>A, B, C, ...</li>
                    <li>1, 2, 3, ...</li>
                </ul>
            </div>
            <div ng-show="beingSubmitted && passwordResetForm.repeatPassword.$error.required && !passwordResetForm.repeatPassword.$pristine" class="item help-block">
                Please repeat the password.
            </div>
            <div ng-show="beingSubmitted && passwordResetForm.repeatPassword.$error.repeat && !passwordResetForm.repeatPassword.$pristine" class="item help-block">
                Passwords do not match.
            </div>
            <div ng-show="errorInfo" class="item help-block help-block-error">
                {{errorInfo}}
            </div>
        </div>

        <div class="list">
            <label class="item bold">
                The password has to have 8 or more characters from 2 or more of the groups:
                <br />
                <ul>
                    <li>a, b, c, ...</li>
                    <li>A, B, C, ...</li>
                    <li>1, 2, 3, ...</li>
                </ul>
            </label>
            <label class="item item-input">
                <div class="input-label">
                    Password
                </div>
                <input autofocus type="password" ng-model="data.password" id="passwordEdit" complex-password required name="password"
                       ng-class="{ 'has-error' : beingSubmitted && (passwordResetForm.password.$error.required || passwordResetForm.password.$error.complexity || passwordResetForm.password.$error.minlength) && !passwordResetForm.password.$pristine }">
            </label>

            <label class="item item-input">
                <div class="input-label">
                    Repeat password
                </div>
                <input type="password" ng-model="data.confirmPassword" repeat-password="password" required name="repeatPassword"
                       ng-class="{ 'has-error' : beingSubmitted && (passwordResetForm.repeatPassword.$error.required || passwordResetForm.repeatPassword.$error.repeat) && !passwordResetForm.repeatPassword.$pristine }">
            </label>
        </div>
        
        <button class="button button-block button-positive button-single" ng-disabled="passwordResetForm.$invalid" ng-click="setPassword()">
            Save
        </button>
        <div class="marginTop3 center">Do you want to go to the login screen instead?</div>
        <button class="button button-block button-positive button-single marginTop1" ui-sref="login">
            Login
        </button>
    </form>
</div>