<div class="has-header maxWidth-1000 " has-bouncing="false" scroll="true" ng-class="{'marginTop3':(!$root.isMobileLow && !$root.isMobileNarrow)}" >
    <div class="list marginSides3" ng-show="successInfo">
        <div class="item help-block">
            {{successInfo}}
        </div>
        <button class="button button-block button-positive button-single marginTop3" ng-click="$root.goToLogin();">
            Go to Login
        </button>
    </div>
    <form name="registrationForm" ng-show="!successInfo" novalidate ng-keyup="$root.keyUpHandler($event.keyCode);" class="marginSides3">
        <div class="list customFormErrorList">
            <div ng-show="beingSubmitted && (registrationForm.email.$error.required || registrationForm.email.$error.email) && !registrationForm.email.$pristine" class="item help-block">
                Please provide a valid email.
            </div>

            <div ng-show="errorInfo" class="item help-block help-block-error item-no-wrap">
                {{errorInfo}}
            </div>
        </div>

        <div class="list">
            <label class="item item-input">
                <div class="input-label">
                    E-mail
                </div>
                <input autofocus type="email" ng-model="data.email" id="emailEdit" required name="email"
                       ng-class="{ 'has-error' : beingSubmitted && (registrationForm.email.$error.required || registrationForm.email.$error.email) && !registrationForm.email.$pristine }">
            </label>
        </div>

        <button class="button button-block button-positive button-single" ng-disabled="registrationForm.$invalid" ng-click="register()">
            Create Account
        </button>
        <div class="marginTop3 marginSides1">Already have an account?</div>
        <button class="button button-block button-positive button-single marginTop1" ng-click="$root.goToLogin();">
            Login
        </button>
    </form>
</div>