<ion-modal-view ng-controller="RemoveResourceModalCtrl">
    <ion-header-bar>
        <h1 class="title">Deleting {{currentResource.name}}</h1>
    </ion-header-bar>

    <ion-content has-bouncing="false">
        <div class="list">
            <div class="item item-no-wrap item-intro">
                <span>
                    In order to remove a Calendar, you need to either select the Calendar that all Tasks for the deleted Calendar will transfer to, or you can select to remove the Calendar with all associated Tasks.
                </span>
            </div>
            <label class="item" style="border-bottom:0;">
                <select ng-model="resourceToReplaceCurrentWith" style="width:100%;" data-ng-attr-size="{{myResources.resources.length}}" name="resourceToReplace"
                        ng-options="resource._id as resource.name for resource in myResources.resources | filter: {_id : '!' + currentResource._id}" class="noScrollbarSelect">
                    <option value="">Select a replacement Calendar</option>
                </select>
            </label>
            <label class="item" style="border-top:0;padding-top:0;">
                <button class="button button-block button-assertive" ng-click="removeResource(resourceToReplaceCurrentWith);" ng-disabled="!resourceToReplaceCurrentWith">
                    Delete - transfer Tasks
                </button>
            </label>
            
            <label class="item">
                <span>
                    This removes all Tasks that were assigned to this Calendar.
                </span>
                <button class="button button-block button-assertive" ng-click="removeResource();">
                    Delete without transferring Tasks
                </button>
            </label>
        </div>
        <button class="button button-block button-dark button-outline button-single" ng-click="close();">
            Cancel
        </button>
    </ion-content>
</ion-modal-view>