<ion-modal-view ng-controller="ResourceModalCtrl">
    <ion-header-bar>
        <h1 class="title">{{(newResource && !currentResource.name) ? 'New Resource' : currentResource.name}}</h1>
    </ion-header-bar>

    <ion-content has-bouncing="false">
        <form name="$parent.form" novalidate>
            <div class="list customFormErrorList">
                <div ng-show="form.name.$error.required" class="item help-block">Please provide a valid name.</div>
                <div ng-show="form.email.$error.required || form.email.$error.email" class="item help-block">Please provide a valid email.</div>
                <div ng-show="form.timezone.$error.required || form.timezone.$error.email" class="item help-block">Please select a time zone.</div>
            </div>
            <div class="list">
                <label class="item item-input" ng-if="currentResource.type === 'artificial'">
                    <div class="input-label">
                        Name
                    </div>
                    <input type="text" ng-model="currentResource.name" id="resourcePrimaryInput" required name="name">
                </label>
                
                <label class="item item-input" ng-if="currentResource.type === 'artificial'">
                    <div class="input-label">
                        E-mail (for notifications)
                    </div>
                    <input type="email" ng-model="currentResource.email" required name="email">
                </label>
                
                <label class="item item-select" >
                    <div class="input-label">
                        Select time zone
                    </div>
                    <select ng-model="currentResource.timeZone" ng-options="zone as zone for zone in timeZones">
                    </select>
                </label>

                <label class="item item-input range" id="resourceSetupDetail">
                    <div class="input-label">
                        Start day of the week
                    </div>
                    <input type="range" min="1" max="7" name="sinceDay" ng-model="currentResource.sinceDay" step="1" required/>

                    <div class="rangeInfo">
                        {{currentResource.sinceDayText}}
                    </div>
                </label>

                <label class="item item-input range">
                    <div class="input-label">
                        End day of the week
                    </div>
                    <input type="range" min="1" max="7" name="untilDay" ng-model="currentResource.untilDay" step="1" required/>

                    <div class="rangeInfo">
                        {{currentResource.untilDayText}}
                    </div>
                </label>

                <label class="item item-input range">
                    <div class="input-label">
                        Start hour of the day
                    </div>
                    <input type="range" min="0" max="{{24 * $root.settings.slotsPerHour}}" name="sinceTime" ng-model="currentResource.sinceTime" step="1" required/>

                    <div class="rangeInfo">
                        {{currentResource.sinceTimeText}}
                    </div>
                </label>

                <label class="item item-input range">
                    <div class="input-label">
                        End hour of the day
                    </div>
                    <input type="range" min="0" max="{{24 * $root.settings.slotsPerHour}}" name="untilTime" ng-model="currentResource.untilTime" step="1" required/>

                    <div class="rangeInfo">
                        {{currentResource.untilTimeText}}
                    </div>
                </label>

                <div class="row">
                    <div ng-if="$root.currentUser.role === 'admin'" class="col-50 padding-horizontal padding-top">
                        <button id="taskSave" class="button button-block button-positive" ng-disabled="form.$invalid || form.$pristine" ng-click="save()">
                            Save
                        </button>

                    </div>
                    <div class="padding-horizontal padding-top" ng-class="{'col-50': $root.currentUser.role === 'admin', 'col': $root.currentUser.role !== 'admin'}">
                        <button class="button button-block button-outline button-stable" ng-click="close()">
                            Cancel
                        </button>   
                    </div>
                </div>
            </div>
        </form>
    </ion-content>
</ion-modal-view>