<ion-modal-view ng-controller="ResourcesModalCtrl">
    <ion-header-bar>
        <h1 class="title">Calendars</h1>
    </ion-header-bar>
    <ion-content has-bouncing="false" ng-show="!$root.isLoading">
        <div class="list" style="margin-bottom: 0;border-bottom: 0">
            <div class="item item-no-wrap item-intro" ng-if="$root.currentUser.role === 'admin'">
                <span>
                    Here you can view all Calendars of your Tenant account. You can click on a Calendar to see its time constraints.
                </span>
                <span>
                    You can create as many Calendars as you want, set their time constraints and schedule tasks into these.
                </span>
                <span>
                    Only existing Users under your Tenant account represent the 'User' Calendars. These Calendars may not be deleted, they exist if and only if the respective User does.
                </span>
            </div>
            <div class="item item-no-wrap item-intro" ng-if="$root.currentUser.role !== 'admin'">
                <span>
                    Here you can view all Calendars of your Tenant account. You can click on a Calendar to see its time constraints.
                </span>
                <span>
                    Only tenant account administrators can create / modify / delete Calendars.
                </span>
            </div>
        </div>
        <div class="list" id="resourceList">
            <div class="item item-icon-left item-button-right" ng-repeat="resource in myResources.resources" ng-click="openDetail(resource);">
                <i class="icon ion-person" ng-if="resource.type === 'user'"></i>
                <i class="icon ion-calendar" ng-if="resource.type === 'artificial'"></i>
                {{resource.name}}
                <button ng-if="resource.type === 'artificial'" class="button button-clear" ng-click="openRemoveDetail(resource);
                                $event.stopPropagation();">
                    <i class="icon ion-trash-b assertive"></i>
                </button>
            </div>
        </div>

        <div class="row">
            <div ng-if="$root.currentUser.role === 'admin'" class="col-50 padding-horizontal padding-top">
                <button class="button button-block button-positive" ng-click="openDetail()">
                    Create New
                </button>

            </div>
            <div class="padding-horizontal padding-top" ng-class="{'col-50': $root.currentUser.role === 'admin', 'col': $root.currentUser.role !== 'admin'}">
                <button class="button button-block button-dark button-outline" ng-click="close();">
                    Close
                </button>   
            </div>
        </div>
    </ion-content>
</ion-modal-view>