<ion-modal-view ng-controller="TaskModalCtrl">
    <ion-header-bar>
        <h1 class="title">{{currentItem.title ? currentItem.title : 'New Task'}}</h1>

        <button class="button button-assertive button-outline icon-right" ng-click="remove();" ng-if="currentItem._id">
            Delete
        </button>
    </ion-header-bar>
    <ion-content>
        <form name="$parent.form" novalidate>
            <div class="list customFormErrorList">
                <div ng-show="form.title.$error.required && !form.title.$pristine" class="item help-block">Please provide a valid title.</div>
                <div ng-show="form.floatingDueDate.$error.required" class="item help-block">Please provide a valid date.</div>
                <div ng-show="form.floatingDueTime.$error.required" class="item help-block">Please provide a valid time.</div>
                <div ng-show="form.floatingDuration.$error.required" class="item help-block">Please provide a valid duration.</div>
                <div ng-show="form.resource.$error.required" class="item help-block">Please provide a valid resource.</div>
                <div ng-show="form.resources.$error.required" class="item help-block">Please provide valid resources.</div>
                <div ng-show="currentItem.error" class="item help-block">{{currentItem.error}}</div>
            </div>
            <div class="list" style="margin-bottom:0;">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Resources Pool
                    </div>
                    <select multiple ng-model="currentItem.admissibleResources" class="leftAlignedSelect noScrollbarSelect" data-ng-attr-size="{{myResources.resources.length}}" required name="resources"
                            ng-options="resource._id as resource.name for resource in myResources.resources">
                    </select>
                </label>

                <ion-toggle ng-model="currentItem.allDay" ng-change="switchAllDay()" toggle-class="toggle-assertive">All-Day</ion-toggle>

                <label class="item item-input" ng-class="{ 'has-error' : form.title.$invalid && !form.title.$pristine }">
                    <input placeholder="Title" autocomplete="off" type="text" ng-model="currentItem.title" id="primaryInput" required name="title">
                </label>
                <label class="item item-input">
                    <textarea placeholder="Description" ng-model="currentItem.desc" id="taskModalTextarea"></textarea>
                </label>

                <label class="item item-no-wrap" ng-show="currentItem.constraint.startDateText">
                    The earliest this Task can be due is on {{currentItem.constraint.startDateDueText}}, at {{currentItem.constraint.startTimeDueText}}.
                </label>
                <label class="item item-no-wrap" ng-show="currentItem.constraint.endDateText && currentItem.constraint.end.year() < 2030">
                    The latest this Task can be due is on {{currentItem.constraint.endDateText}}, at {{currentItem.constraint.endTimeText}}.
                </label>

                <label class="item item-input" ng-class="{ 'has-error' : form.floatingDueDate.$invalid && !form.floatingDueDate.$pristine }">
                    <div class="input-label">
                        Due Date
                    </div>
                    <input readonly="true" type="text" ng-model="currentItem.dueDateText" ng-click="openDatePicker('due');" name="floatingDueDate" id="floatingDueDate"
                           required/>
                </label>

                <label class="item item-input" ng-show="!currentItem.allDay" ng-class="{ 'has-error' : form.floatingDueTime.$invalid && !form.floatingDueTime.$pristine }">
                    <div class="input-label">
                        Due Time
                    </div>
                    <input readonly="true" type="text" ng-model="currentItem.dueTimeText" ng-click="openTimePicker('due');" name="floatingDueTime" id="floatingDueTime"
                           ng-required="!currentItem.allDay"/>
                </label>

                <label class="item item-input range" ng-class="{ 'has-error' : form.floatingDuration.$invalid && !form.floatingDuration.$pristine }">
                    <input type="range" min="1" max="{{$root.settings.maxEventDuration[currentItem.allDay ? 1 : 0]}}" ng-model="currentItem.dur" ng-mouseup="processEventDuration();" ng-change="renderEventDuration();"
                           name="floatingDuration" step="1" required id="floatingDuration"/>

                    <div class="rangeInfo">
                        Duration: {{currentItem.durText}}
                    </div>
                </label>

                <label class="item item-nested-list"  style="padding-bottom:0;border-bottom:0">
                    <div class="input-label">
                        Prerequisites
                    </div>
                    <div class="list nested-list" ng-show="currentItem.needsForShow.length > 0">
                        <div style="border:0;" class="item item-button-right" ng-repeat="event in currentItem.needsForShow| filter : {_id: event._id} : true">
                            <span class="bold">{{event.title}}</span> due on {{event.dueDateText}} at {{event.dueTimeText}}
                            <button class="button button-clear" on-tap="myItems.removePrerequisite(currentItem, event); form.$setDirty();">
                                <i class="icon ion-trash-b assertive"></i>
                            </button>
                        </div>
                    </div>
                </label>
                <label class="item item-select" >
                    <select ng-model="newPrerequisite" style="width:100%;max-width:100%;direction:ltr;padding-left:25px;font-size:.9em;"
                            ng-options="event._id as event.shortInfo for event in filteredPrerequisites = (myItems.events | filter : needsFilter : true | orderBy:startValueForOrderingOfDependencies)"
                            ng-change="myItems.addPrerequisite(currentItem, newPrerequisite)">
                        <option ng-selected="true" value="">{{filteredPrerequisites.length === 0 ? 'no other possible Prerequisite Task, see Help for explanation' : 'select a prerequisite task'}}</option>
                    </select>
                </label>

                <label class="item item-nested-list" style="padding-bottom:0;border-bottom:0">
                    <div class="input-label">
                        Dependent Tasks
                    </div>
                    <div class="list nested-list" ng-show="currentItem.blocksForShow.length > 0">
                        <div style="border:0;" class="item item-button-right" ng-repeat="event in currentItem.blocksForShow| filter : {_id: event._id} : true">
                            <span class="bold">{{event.title}}</span> due on {{event.dueDateText}} at {{event.dueTimeText}}
                            <button class="button button-clear" on-tap="myItems.removeDependency(currentItem, event); form.$setDirty();">
                                <i class="icon ion-trash-b assertive"></i>
                            </button>
                        </div>
                    </div>
                </label>

                <label class="item item-select">
                    <select ng-model="newDependency" style="width:100%;max-width:100%;direction:ltr;padding-left:25px;font-size:.9em;"
                            ng-options="event._id as event.shortInfo for event in filteredDependencies = (myItems.events | filter : blocksFilter : true | orderBy:startValueForOrderingOfDependencies)"
                            ng-change="myItems.addDependency(currentItem, newDependency)">
                        <option ng-selected="true" value="">{{filteredDependencies.length === 0 ? 'no other possible Dependent Task, see Help for explanation' : 'select a dependent task'}}</option>
                    </select>
                </label>
            </div>

            <div class="row">
                <div class="col-50 padding-horizontal padding-top">
                    <button id="taskSave" class="button button-block button-positive" ng-disabled="form.$invalid || form.$pristine || currentItem.error" ng-click="save();">
                        Save
                    </button>

                </div>
                <div class="col-50 padding-horizontal padding-top">
                    <button class="button button-block button-outline button-stable" ng-click="close();">
                        Cancel
                    </button>   
                </div>
            </div>
        </form>
    </ion-content>
</ion-modal-view>