<ion-modal-view ng-controller="TaskModalCtrl">
    <ion-header-bar>
        <h1 class="title" ng-class="{'has-button-right':currentEvent._id}">{{currentEvent.title ? currentEvent.title : 'New Task'}}</h1>

        <button class="button button-assertive button-outline icon-right" ng-click="remove();" ng-if="currentEvent._id">
            Delete
        </button>
    </ion-header-bar>
    <ion-content>
        <form name="$parent.form" novalidate>
            <div class="list customFormErrorList">
                <div ng-show="form.title.$error.required && !form.title.$pristine" class="item help-block">Please provide a valid title.</div>
                <div ng-show="form.fixedStartDate.$error.required" class="item help-block">Please provide a valid date.</div>
                <div ng-show="form.fixedStartTime.$error.required" class="item help-block">Please provide a valid time.</div>
                <div ng-show="form.fixedDuration.$error.required" class="item help-block">Please provide a valid duration.</div>
                <div ng-show="form.fixedAllDayStartDate.$error.required" class="item help-block">Please provide a valid date.</div>
                <div ng-show="form.fixedAllDayDuration.$error.required" class="item help-block">Please provide a valid duration.</div>
                <div ng-show="form.floatingDueDate.$error.required" class="item help-block">Please provide a valid date.</div>
                <div ng-show="form.floatingDueTime.$error.required" class="item help-block">Please provide a valid time.</div>
                <div ng-show="form.floatingDuration.$error.required" class="item help-block">Please provide a valid duration.</div>
                <div ng-show="form.resource.$error.required" class="item help-block">Please provide a valid resource.</div>
                <div ng-show="form.resources.$error.required" class="item help-block">Please provide valid resources.</div>
                <div ng-show="currentEvent.error" class="item help-block">{{currentEvent.error}}</div>
            </div>
            <div class="list" style="margin-bottom:0;">
                <label class="item item-input item-select"  ng-if="currentEvent.type !== 'floating'">
                    <div class="input-label">
                        Resource
                    </div>
                    <select ng-model="currentEvent.resource" class="leftAlignedSelect" required name="resource"
                            ng-options="resource._id as resource.name for resource in myResources.resources">
                    </select>
                </label>

                <label class="item item-input item-select"  ng-if="currentEvent.type === 'floating'">
                    <div class="input-label">
                        Resources Pool
                    </div>
                    <select multiple ng-model="currentEvent.admissibleResources" class="leftAlignedSelect noScrollbarSelect" data-ng-attr-size="{{myResources.resources.length}}" required name="resources"
                            ng-options="resource._id as resource.name for resource in myResources.resources">
                    </select>
                </label>
                
                <label class="item item-input item-select">
                    <div class="input-label">
                        Type
                    </div>
                    <select ng-model="currentEvent.type" class="leftAlignedSelect" required id="tasktypeselector">
                        <option value="fixed" class="option-fixed">Fixed</option>
                        <option value="fixedAllDay" class="option-fixedAllDay">Fixed (all-day)</option>
                        <option value="floating" class="option-floating">Floating</option>
                    </select>
                </label>
                <label class="item item-input" ng-class="{ 'has-error' : form.title.$invalid && !form.title.$pristine }">
                    <input placeholder="Title" autocomplete="off" type="text" ng-model="currentEvent.title" id="primaryInput" required name="title">
                </label>
                <label class="item item-input">
                    <textarea placeholder="Description" ng-model="currentEvent.desc" rows="5" id="taskModalTextarea"></textarea>
                </label>

                <!--
                <label class="item" ng-show="currentEvent.type === 'fixed' && currentEvent.constraint.startDateText">
                    The earliest this Task can start is on {{currentEvent.constraint.startDateText}}, at {{currentEvent.constraint.startTimeText}}.
                </label>
                -->
                <label class="item" ng-show="currentEvent.type === 'fixed' && currentEvent.constraint.endDateText && currentEvent.constraint.end.year() < 2030">
                    The latest this Task can end is on {{currentEvent.constraint.endDateText}}, at {{currentEvent.constraint.endTimeText}}.
                </label>

                <label class="item item-input" ng-show="currentEvent.type === 'fixed'"
                       ng-class="{ 'has-error' : form.fixedStartDate.$invalid && !form.fixedStartDate.$pristine }">
                    <div class="input-label">
                        Start Date
                    </div>
                    <input readonly="true" type="text" ng-model="currentEvent.startDateText" ng-click="openDatePicker('start');"
                           name="fixedStartDate" ng-required="currentEvent.type === 'fixed'" id="fixedStartDate"/>


                </label>

                <label class="item item-input" ng-show="currentEvent.type === 'fixed'"
                       ng-class="{ 'has-error' : form.fixedStartTime.$invalid && !form.fixedStartTime.$pristine }">
                    <div class="input-label">
                        Start Time
                    </div>
                    <input readonly="true" type="text" ng-model="currentEvent.startTimeText" ng-click="openTimePicker('start');" name="fixedStartTime" id="fixedStartTime"
                           ng-required="currentEvent.type === 'fixed'"/>

                </label>

                <label class="item item-input range" ng-show="currentEvent.type === 'fixed'"
                       ng-class="{ 'has-error' : form.fixedDuration.$invalid && !form.fixedDuration.$pristine }">
                    <div class="input-label">
                        End Time<br />[duration]
                    </div>
                    <input type="range" min="1" max="{{maxEventDuration.fixed}}" ng-mouseup="processEventDuration();" ng-change="renderEventDuration();"
                           name="fixedDuration" ng-model="currentEvent.dur" step="1" ng-required="currentEvent.type === 'fixed'" id="fixedDuration"/>


                    <div class="rangeInfo">
                        {{currentEvent.endTimeText}} ({{currentEvent.endDateText}}) &nbsp; [ {{currentEvent.durText}} ]
                    </div>
                </label>

                <!--
                <label class="item" ng-show="currentEvent.type === 'fixedAllDay' && currentEvent.constraint.startDateText">
                    The earliest this Task can start is on {{currentEvent.constraint.startDateText}}, at {{currentEvent.constraint.startTimeText}}.
                </label>
                -->
                <label class="item" ng-show="currentEvent.type === 'fixedAllDay' && currentEvent.constraint.endDateText && currentEvent.constraint.end.year() < 2030">
                    The latest this Task can end is on {{currentEvent.constraint.endDateText}}, at {{currentEvent.constraint.endTimeText}}.
                </label>

                <label class="item item-input" ng-show="currentEvent.type === 'fixedAllDay'"
                       ng-class="{ 'has-error' : form.fixedAllDayStartDate.$invalid && !form.fixedAllDayStartDate.$pristine }">
                    <div class="input-label">
                        Start Date
                    </div>
                    <input readonly="true" type="text" ng-model="currentEvent.startDateText" ng-click="openDatePicker('start');" name="fixedAllDayStartDate"
                           ng-required="currentEvent.type === 'fixedAllDay'"/>
                </label>

                <label class="item item-input range" ng-show="currentEvent.type === 'fixedAllDay'"
                       ng-class="{ 'has-error' : form.fixedAllDayDuration.$invalid && !form.fixedAllDayDuration.$pristine }">
                    <div class="input-label">
                        End Date<br />[duration]
                    </div>
                    <input type="range" min="1" max="{{maxEventDuration.fixedAllDay}}" ng-mouseup="processEventDuration();" ng-change="renderEventDuration();"
                           name="fixedAllDayDuration" ng-model="currentEvent.dur" step="1" ng-required="currentEvent.type === 'fixedAllDay'"/>


                    <div class="rangeInfo">
                        {{currentEvent.endDateText}} &nbsp; [ {{currentEvent.dur}} days ]
                    </div>
                </label>

                <label class="item" ng-show="currentEvent.type === 'floating' && currentEvent.constraint.startDateText">
                    The earliest this Task can be due is on {{currentEvent.constraint.startDateDueText}}, at {{currentEvent.constraint.startTimeDueText}}.
                </label>
                <label class="item" ng-show="currentEvent.type === 'floating' && currentEvent.constraint.endDateText && currentEvent.constraint.end.year() < 2030">
                    The latest this Task can be due is on {{currentEvent.constraint.endDateText}}, at {{currentEvent.constraint.endTimeText}}.
                </label>

                <label class="item item-input" ng-show="currentEvent.type === 'floating'"
                       ng-class="{ 'has-error' : form.floatingDueDate.$invalid && !form.floatingDueDate.$pristine }">
                    <div class="input-label">
                        Due Date
                    </div>
                    <input readonly="true" type="text" ng-model="currentEvent.dueDateText" ng-click="openDatePicker('due');" name="floatingDueDate" id="floatingDueDate"
                           ng-required="currentEvent.type === 'floating'"/>
                </label>

                <label class="item item-input" ng-show="currentEvent.type === 'floating'" 
                       ng-class="{ 'has-error' : form.floatingDueTime.$invalid && !form.floatingDueTime.$pristine }">
                    <div class="input-label">
                        Due Time
                    </div>
                    <input readonly="true" type="text" ng-model="currentEvent.dueTimeText" ng-click="openTimePicker('due');" name="floatingDueTime" id="floatingDueTime"
                           ng-required="currentEvent.type === 'floating'"/>
                </label>

                <label class="item item-input range" ng-show="currentEvent.type === 'floating'"
                       ng-class="{ 'has-error' : form.floatingDuration.$invalid && !form.floatingDuration.$pristine }">
                    <div class="input-label">
                        Duration<br />&nbsp;
                    </div>
                    <input type="range" min="1" max="{{maxEventDuration.floating}}" ng-model="currentEvent.dur" ng-mouseup="processEventDuration();" ng-change="renderEventDuration();"
                           name="floatingDuration" step="1" ng-required="currentEvent.type === 'floating'" id="floatingDuration"/>

                    <div class="rangeInfo">
                        {{currentEvent.durText}}
                    </div>
                </label>

                <label class="item item-nested-list" ng-show="currentEvent.type === 'floating'" style="padding-bottom:0;border-bottom:0">
                    <div class="input-label">
                        Prerequisites
                    </div>
                    <div class="list nested-list" ng-show="currentEvent.needsForShow.length > 0">
                        <div style="border:0;" class="item item-button-right" ng-repeat="event in currentEvent.needsForShow| filter : {_id: event._id} : true">
                            <span class="bold">{{event.title}}</span> {{event.type == 'floating' ? 'due ' : ''}} on 
                            {{event.type == 'floating' ? event.dueDateText : event.startDateText}} at 
                            {{event.type == 'floating' ? event.dueTimeText : event.startTimeText}}
                            <button class="button button-clear" on-tap="myEvents.removePrerequisite(currentEvent, event); form.$setDirty();">
                                <i class="icon ion-trash-b assertive"></i>
                            </button>
                        </div>
                    </div>
                </label>
                <label class="item item-select" ng-show="currentEvent.type === 'floating'">
                    <select ng-model="newPrerequisite" style="width:100%;max-width:100%;direction:ltr;padding-left:25px;font-size:.9em;"
                            ng-options="event._id as event.shortInfo for event in filteredPrerequisites = (myEvents.events | filter : needsFilter : true | orderBy:startValueForOrderingOfDependencies)"
                            ng-change="myEvents.addPrerequisite(currentEvent, newPrerequisite)">
                        <option ng-selected="true" value="">{{filteredPrerequisites.length === 0 ? 'no other possible Prerequisite Task, see Help for explanation' : 'select a prerequisite task'}}</option>
                    </select>
                </label>

                <label class="item item-nested-list" style="padding-bottom:0;border-bottom:0">
                    <div class="input-label">
                        Dependent Tasks
                    </div>
                    <div class="list nested-list" ng-show="currentEvent.blocksForShow.length > 0">
                        <div style="border:0;" class="item item-button-right" ng-repeat="event in currentEvent.blocksForShow| filter : {_id: event._id} : true">
                            <span class="bold">{{event.title}}</span> {{event.type == 'floating' ? 'due ' : ''}} on 
                            {{event.type == 'floating' ? event.dueDateText : event.startDateText}} at 
                            {{event.type == 'floating' ? event.dueTimeText : event.startTimeText}}
                            <button class="button button-clear" on-tap="myEvents.removeDependency(currentEvent, event); form.$setDirty();">
                                <i class="icon ion-trash-b assertive"></i>
                            </button>
                        </div>
                    </div>
                </label>

                <label class="item item-select">
                    <select ng-model="newDependency" style="width:100%;max-width:100%;direction:ltr;padding-left:25px;font-size:.9em;"
                            ng-options="event._id as event.shortInfo for event in filteredDependencies = (myEvents.events | filter : blocksFilter : true | orderBy:startValueForOrderingOfDependencies)"
                            ng-change="myEvents.addDependency(currentEvent, newDependency)">
                        <option ng-selected="true" value="">{{filteredDependencies.length === 0 ? 'no other possible Dependent Task, see Help for explanation' : 'select a dependent task'}}</option>
                    </select>
                </label>
            </div>

            <div class="row">
                <div class="col-50 padding-horizontal padding-top">
                    <button id="taskSave" class="button button-block button-positive" ng-disabled="form.$invalid || form.$pristine || currentEvent.error" ng-click="save();">
                        Save
                    </button>

                </div>
                <div class="col-50 padding-horizontal padding-top">
                    <button class="button button-block button-outline button-stable" ng-click="close();">
                        Cancel
                    </button>   
                </div>
            </div>
        </form>
    </ion-content>
</ion-modal-view>