<ion-modal-view ng-controller="TaskModalCtrl">
    <ion-header-bar>
        <h1 class="title">{{myEvents.currentEvent.title ? myEvents.currentEvent.title : 'New Task'}}</h1>
    </ion-header-bar>
    <!-- This is a hack how to know what modal is this template for - for some bookkeeping, at the time of writing - 20160729 - in calendar.js -->
    <ion-content class="modalNamingSearch" name="task">
        <form class="taskSaveForm" name="taskSaveForm" novalidate ng-keyup="$root.keyUpHandler($event.keyCode, (taskSaveForm.$invalid || $('#taskModalTextarea')[0] == document.activeElement));">
            <div class="list customFormErrorList">
                <div ng-show="taskSaveForm.title.$error.required && !taskSaveForm.title.$pristine" class="item help-block">Please provide a valid title.</div>
                <div ng-show="taskSaveForm.fixedStartDate.$error.required" class="item help-block">Please provide a valid date.</div>
                <div ng-show="taskSaveForm.fixedStartTime.$error.required" class="item help-block">Please provide a valid time.</div>
                <div ng-show="taskSaveForm.fixedDuration.$error.required" class="item help-block">Please provide a valid duration.</div>
                <div ng-show="taskSaveForm.fixedAllDayStartDate.$error.required" class="item help-block">Please provide a valid date.</div>
                <div ng-show="taskSaveForm.fixedAllDayDuration.$error.required" class="item help-block">Please provide a valid duration.</div>
                <div ng-show="taskSaveForm.floatingDueDate.$error.required" class="item help-block">Please provide a valid date.</div>
                <div ng-show="taskSaveForm.floatingDueTime.$error.required" class="item help-block">Please provide a valid time.</div>
                <div ng-show="taskSaveForm.floatingDuration.$error.required" class="item help-block">Please provide a valid duration.</div>
            </div>
            <div class="list">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Type
                    </div>
                    <select ng-model="myEvents.currentEvent.type" class="taskTypeSelect" required ng-change="myEvents.handleChangeOfEventType()" id="tasktypeselector">
                        <option value="fixed" class="option-fixed">Fixed</option>
                        <option value="fixedAllDay" class="option-fixedAllDay">Fixed (all-day)</option>
                        <option value="floating" class="option-floating">Floating</option>
                    </select>
                </label>
                <label class="item item-input" ng-class="{ 'has-error' : taskSaveForm.title.$invalid && !taskSaveForm.title.$pristine }">
                    <div class="input-label">
                        Title
                    </div>
                    <input type="text" ng-model="myEvents.currentEvent.title" id="primaryInput" required name="title">
                </label>
                <label class="item item-input">
                    <textarea placeholder="Description" ng-model="myEvents.currentEvent.desc" rows="5" id="taskModalTextarea"></textarea>
                </label>

                <label class="item" ng-show="myEvents.currentEvent.type === 'fixed' && myEvents.currentEvent.constraint.startDateText">
                    The earliest this task can start is on {{myEvents.currentEvent.constraint.startDateText}}, at {{myEvents.currentEvent.constraint.startTimeText}}.
                </label>
                <label class="item" ng-show="myEvents.currentEvent.type === 'fixed' && myEvents.currentEvent.constraint.endDateText">
                    The latest this task can end is on {{myEvents.currentEvent.constraint.endDateText}}, at {{myEvents.currentEvent.constraint.endTimeText}}.
                </label>

                <label class="item item-input" ng-show="myEvents.currentEvent.type === 'fixed'"
                       ng-class="{ 'has-error' : taskSaveForm.fixedStartDate.$invalid && !taskSaveForm.fixedStartDate.$pristine }">
                    <div class="input-label">
                        Start Date
                    </div>
                    <input readonly="true" type="text" ng-model="myEvents.currentEvent.startDateText" ng-click="openDatePicker('start');"
                           name="fixedStartDate" ng-required="myEvents.currentEvent.type === 'fixed'" id="fixedStartDate"/>


                </label>

                <label class="item item-input" ng-show="myEvents.currentEvent.type === 'fixed'"
                       ng-class="{ 'has-error' : taskSaveForm.fixedStartTime.$invalid && !taskSaveForm.fixedStartTime.$pristine }">
                    <div class="input-label">
                        Start Time
                    </div>
                    <input readonly="true" type="text" ng-model="myEvents.currentEvent.startTimeText" ng-click="openTimePicker('start');" name="fixedStartTime" id="fixedStartTime"
                           ng-required="myEvents.currentEvent.type === 'fixed'"/>

                </label>

                <label class="item item-input range" ng-show="myEvents.currentEvent.type === 'fixed'"
                       ng-class="{ 'has-error' : taskSaveForm.fixedDuration.$invalid && !taskSaveForm.fixedDuration.$pristine }">
                    <div class="input-label">
                        End Time<br />[duration]
                    </div>
                    <input type="range" min="1" max="{{maxEventDuration.fixed}}" ng-change="myEvents.updateEndDateTimeWithDuration()"
                           name="fixedDuration" ng-model="myEvents.currentEvent.dur" step="1" ng-required="myEvents.currentEvent.type === 'fixed'" id="fixedDuration"/>


                    <div class="rangeInfo">
                        {{myEvents.currentEvent.endTimeText}} ({{myEvents.currentEvent.endDateText}}) &nbsp; [ {{myEvents.currentEvent.durText}} ]
                    </div>
                </label>

                <label class="item" ng-show="myEvents.currentEvent.type === 'fixedAllDay' && myEvents.currentEvent.constraint.startDateText">
                    The earliest this task can start is on {{myEvents.currentEvent.constraint.startDateText}}, at {{myEvents.currentEvent.constraint.startTimeText}}.
                </label>
                <label class="item" ng-show="myEvents.currentEvent.type === 'fixedAllDay' && myEvents.currentEvent.constraint.endDateText">
                    The latest this task can end is on {{myEvents.currentEvent.constraint.endDateText}}, at {{myEvents.currentEvent.constraint.endTimeText}}.
                </label>

                <label class="item item-input" ng-show="myEvents.currentEvent.type === 'fixedAllDay'"
                       ng-class="{ 'has-error' : taskSaveForm.fixedAllDayStartDate.$invalid && !taskSaveForm.fixedAllDayStartDate.$pristine }">
                    <div class="input-label">
                        Start Date
                    </div>
                    <input readonly="true" type="text" ng-model="myEvents.currentEvent.startDateText" ng-click="openDatePicker('start');" name="fixedAllDayStartDate"
                           ng-required="myEvents.currentEvent.type === 'fixedAllDay'"/>
                </label>

                <label class="item item-input range" ng-show="myEvents.currentEvent.type === 'fixedAllDay'"
                       ng-class="{ 'has-error' : taskSaveForm.fixedAllDayDuration.$invalid && !taskSaveForm.fixedAllDayDuration.$pristine }">
                    <div class="input-label">
                        End Date<br />[duration]
                    </div>
                    <input type="range" min="1" max="{{maxEventDuration.fixedAllDay}}" ng-change="myEvents.updateEndDateTimeWithDuration()"
                           name="fixedAllDayDuration" ng-model="myEvents.currentEvent.dur" step="1" ng-required="myEvents.currentEvent.type === 'fixedAllDay'"/>


                    <div class="rangeInfo">
                        {{myEvents.currentEvent.endDateText}} &nbsp; [ {{myEvents.currentEvent.dur}} days ]
                    </div>
                </label>

                <label class="item" ng-show="myEvents.currentEvent.type === 'floating' && myEvents.currentEvent.constraint.startDateText">
                    The earliest this task can be due is on {{myEvents.currentEvent.constraint.startDateDueText}}, at {{myEvents.currentEvent.constraint.startTimeDueText}}.
                </label>
                <label class="item" ng-show="myEvents.currentEvent.type === 'floating' && myEvents.currentEvent.constraint.endDateText">
                    The latest this task can be due is on {{myEvents.currentEvent.constraint.endDateText}}, at {{myEvents.currentEvent.constraint.endTimeText}}.
                </label>

                <label class="item item-input" ng-show="myEvents.currentEvent.type === 'floating'"
                       ng-class="{ 'has-error' : taskSaveForm.floatingDueDate.$invalid && !taskSaveForm.floatingDueDate.$pristine }">
                    <div class="input-label">
                        Due Date
                    </div>
                    <input readonly="true" type="text" ng-model="myEvents.currentEvent.dueDateText" ng-click="openDatePicker('due');" name="floatingDueDate" id="floatingDueDate"
                           ng-required="myEvents.currentEvent.type === 'floating'"/>
                </label>

                <label class="item item-input" ng-show="myEvents.currentEvent.type === 'floating'" 
                       ng-class="{ 'has-error' : taskSaveForm.floatingDueTime.$invalid && !taskSaveForm.floatingDueTime.$pristine }">
                    <div class="input-label">
                        Due Time
                    </div>
                    <input readonly="true" type="text" ng-model="myEvents.currentEvent.dueTimeText" ng-click="openTimePicker('due');" name="floatingDueTime" id="floatingDueTime"
                           ng-required="myEvents.currentEvent.type === 'floating'"/>
                </label>

                <label class="item item-input range" ng-show="myEvents.currentEvent.type === 'floating'"
                       ng-class="{ 'has-error' : taskSaveForm.floatingDuration.$invalid && !taskSaveForm.floatingDuration.$pristine }">
                    <div class="input-label">
                        Duration<br />&nbsp;
                    </div>
                    <input type="range" min="1" max="{{maxEventDuration.floating}}" ng-model="myEvents.currentEvent.dur" ng-change="myEvents.updateEndDateTimeWithDuration()"
                           name="floatingDuration" step="1" ng-required="myEvents.currentEvent.type === 'floating'" id="floatingDuration"/>

                    <div class="rangeInfoFloating rangeInfo">
                        {{myEvents.currentEvent.durText}}
                    </div>
                </label>

                <label class="item item-nested-list" ng-show="myEvents.currentEvent.type === 'floating'">
                    <div class="input-label">
                        Prerequisites
                    </div>
                    <div class="list nested-list">
                        <div class="item item-button-right" ng-repeat="event in myEvents.currentEvent.needsForShow| filter : {_id: event._id} : true">
                            <span class="bold">{{event.title}}</span> {{event.type == 'floating' ? 'due ' : ''}} on 
                            {{event.type == 'floating' ? event.dueDateText : event.startDateText}} at 
                            {{event.type == 'floating' ? event.dueTimeText : event.startTimeText}}
                            <button class="button button-clear" on-tap="myEvents.removePrerequisite(event)">
                                <i class="icon ion-trash-a assertive"></i>
                            </button>
                        </div>
                    </div>
                    <label class="item item-input item-select width-100">
                        <custom-select id="prerequisiteSelect" empty-message="{{noPrerequisitesToListMsg}}" css-class="select-needs" ng-model="myEvents.newPrerequisite" options="$parent.eventSources[0] | filter : needsFilter : true | orderBy:startValueForOrderingOfDependencies" value="_id" label="title" label2="startDateText" label3="startTimeText" null-value="Add a prerequisite" ng-change="myEvents.addPrerequisite(myEvents.newPrerequisite)"></custom-select>
                    </label>
                </label>

                <label class="item item-nested-list">
                    <div class="input-label">
                        Dependent Tasks
                    </div>
                    <div class="list nested-list">
                        <div class="item item-button-right" ng-repeat="event in myEvents.currentEvent.blocksForShow| filter : {_id: event._id} : true">
                            <span class="bold">{{event.title}}</span> {{event.type == 'floating' ? 'due ' : ''}} on 
                            {{event.type == 'floating' ? event.dueDateText : event.startDateText}} at 
                            {{event.type == 'floating' ? event.dueTimeText : event.startTimeText}}
                            <button class="button button-clear" on-tap="myEvents.removeDependency(event)">
                                <i class="icon ion-trash-a assertive"></i>
                            </button>
                        </div>
                    </div>
                    <label class="item item-input item-select width-100">
                        <custom-select empty-message="{{noDependenciesToListMsg}}" css-class="select-blocks"  ng-model="myEvents.newDependency" options="$parent.eventSources[0] | filter : blocksFilter : true | orderBy:startValueForOrderingOfDependencies" value="_id" label="title" label2="startDateText" label3="startTimeText" null-value="Add a dependency" ng-change="myEvents.addDependency(myEvents.newDependency)"></custom-select>
                    </label>
                </label>
            </div>

            <div class="row">
                <div class="col-50 padding-horizontal padding-top">
                    <button id="taskSave" class="button button-block button-positive" ng-disabled="taskSaveForm.$invalid || taskSaveForm.$pristine" ng-click="$parent.confirmModal('task')">
                        Save
                    </button>

                </div>
                <div class="col-50 padding-horizontal padding-top">
                    <button class="button button-block button-outline button-stable" ng-click="$parent.closeModal('task');">
                        Cancel
                    </button>   
                </div>
            </div>
        </form>
    </ion-content>
</ion-modal-view>