<ion-modal-view ng-controller="UsersModalCtrl">
    <ion-header-bar>
        <h1 class="title">Users</h1>
    </ion-header-bar>
    <ion-content has-bouncing="false">
        <div class="list">
            <div class="item item-no-wrap">
                You can create as many 'artificial' users as you want, set their time constraints and schedule tasks into these.
                <br />
                Only existing users under your tenant account represent the 'user' users. These users may not be deleted, they exist if and only if the respective user does.
            </div>
            <div class="item item-no-wrap help-block" ng-if="successInfo">
                {{successInfo}}
            </div>
            <div class="item item-icon-left item-button-right" ng-repeat="user in myUsers.users">
                <i class="icon ion-person"  ng-class="{'inactive': !user.active}"></i>
                <span ng-if="!user.active" >(inactive)</span>
                <span ng-class="{'inactive': !user.active}">{{user.email}}{{user.username ? ' / ' + user.username : ''}}</span>

                <button class="button button-clear" ng-click="myUsers.removeUser(user);
                                $event.stopPropagation();" ng-if="user.email !== $root.currentUser.email">
                    <i class="icon ion-trash-a assertive"></i>
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-50 padding-horizontal padding-top">
                <button class="button button-block button-positive" ng-click="openDetailModal()">
                    Create New
                </button>

            </div>
            <div class="col-50 padding-horizontal padding-top">
                <button class="button button-block button-dark button-outline" ng-click="closeSelf();">
                    Close
                </button>   
            </div>
        </div>
    </ion-content>
</ion-modal-view>