<ion-modal-view ng-controller="UsersModalCtrl">
    <ion-header-bar>
        <h1 class="title">Users</h1>
    </ion-header-bar>
    <ion-content has-bouncing="false" ng-show="!loading">
        <div class="list">
            <div class="item item-no-wrap item-intro" ng-if="$root.currentUser.role === 'admin'">
                <span>
                    When you register for SCHEDULOGY, you get a tenant (account) automatically create for you and you become an admin of the tenant account.
                </span>
                <span>
                    You can add additional users to your tenant account. These users by default do not have the admin role and cannot create or delete users.
                </span>
                <span>
                    As an admin, you have the option to create and delete users, as well as give the admin role to new or existing users.
                </span>
                <span>
                    <i class="icon ion-alert assertive"></i>
                    &nbsp; Be careful with the admin role, as all admins can delete all other admins, including the first (default) one.
                </span>
            </div>
            <div class="item item-no-wrap item-intro" ng-if="$root.currentUser.role !== 'admin'">
                <span>
                    When an admin of an existing tenant account registers you for SCHEDULOGY, you can see all users in the tenant account.
                </span>
                <span>
                    However, you cannot create new user accounts, or modify / delete existing user accounts without admin role.
                </span>
                <span>
                    Your account admin can give you this role.
                </span>
            </div>
            <div class="item item-no-wrap help-block" ng-if="successInfo">
                {{successInfo}}
            </div>
            <div class="item item-icon-left item-button-right" ng-repeat="user in myUsers.users" ng-click="openDetail(user);">
                <i class="icon ion-person"  ng-class="{'inactive': !user.active}"></i>
                <span ng-if="!user.active" class="inactive">(inactive)</span>
                <span ng-class="{'inactive': !user.active}">{{user.email}}{{user.username ? ' / ' + user.username : ''}}</span>
                <span ng-if="user.role === 'admin' && user._id !== $root.currentUser._id">(admin)</span>
                <span ng-if="user.role === 'admin' && user._id === $root.currentUser._id">(You, admin)</span>
                <span ng-if="user.role !== 'admin' && user._id === $root.currentUser._id">(You)</span>

                <button ng-if="$root.currentUser.role === 'admin' && user._id !== $root.currentUser._id" class="button button-clear" ng-click="openRemoveDetail(user);
                                $event.stopPropagation();">
                    <i class="icon ion-trash-b assertive"></i>
                </button>
            </div>
        </div>

        <div class="row">
            <div ng-if="$root.currentUser.role === 'admin'" class="col-50 padding-horizontal padding-top">
                <button class="button button-block button-positive" ng-click="openDetail();">
                    Create New
                </button>

            </div>
            <div class="padding-horizontal padding-top" ng-class="{'col-50': $root.currentUser.role === 'admin', 'col': $root.currentUser.role !== 'admin'}">
                <button class="button button-block button-dark button-outline" ng-click="close();">
                    Close
                </button>   
            </div>
        </div>
    </ion-content>

    <ion-content has-bouncing="false" ng-show="loading" style="z-index:20;width:100%;background:url('img/squares.gif') no-repeat center center white;">
    </ion-content>
</ion-modal-view>