<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">{{$parent.myUsers.currentUser.email}}</h1>
    </ion-header-bar>

    <ion-content has-bouncing="false">
        <form class="userSaveForm" name="userSaveForm" novalidate ng-keyup="$root.keyUpHandler($event.keyCode, userSaveForm.$invalid);">
            <div class="list">
                <label class="item item-input">
                    <div class="input-label">
                        E-mail
                    </div>
                    <input type="email" ng-model="$parent.myUsers.currentUser.email" id="primaryInput" ng-disabled="(!$parent.newUser) || (!$root.currentUser.role !== 'admin')" required name="email">
                </label>

                <ion-checkbox ng-disabled="($root.currentUser.role !== 'admin') || ($parent.myUsers.currentUser._id === $root.currentUser._id)" ng-model="$parent.myUsers.currentUser.admin" name="admin">
                    Administrator
                </ion-checkbox>
                <label class="item item-no-wrap" ng-if="($root.currentUser.role !== 'admin') || ($parent.myUsers.currentUser._id === $root.currentUser._id)">
                    Note - Administrator:<br />
                    <ul style='list-style-type: square;margin-left:25px;'><li>You cannot change this attribute for yourself.</li><li>You cannot change this attribute if you are not an admin.</li></ul>
                </label>
            </div>
            <div class="row">
                <div class="col-50 padding-horizontal padding-top">
                    <button id="taskSave" class="button button-block button-positive" ng-disabled="userSaveForm.$invalid || userSaveForm.$pristine" ng-click="$parent.myUsers.saveUser()">
                        Save
                    </button>

                </div>
                <div class="col-50 padding-horizontal padding-top">
                    <button class="button button-block button-outline button-stable" ng-click="$parent.closeDetailModal()">
                        Cancel
                    </button>   
                </div>
            </div>
        </form>
    </ion-content>
</ion-modal-view>