<ion-modal-view class="smallerPopover" ng-keyup="$root.keyUpHandler($event.keyCode);">
    <!-- This is a hack how to know what modal is this template for - for some bookkeeping, at the time of writing - 20160729 - in calendar.js -->
    <ion-content class="modalNamingSearch" name="floatToFixed">
        <!-- This is a horrible hack, but without this, keyup event won't fire -->
        <input type="text" style="position:absolute;top:-10000px;" id="primaryInput"/>
        <h2 class="title">This will change task type to fixed. Proceed?</h2>
        <br />
        <button class="button button-block button-positive button-single" ng-click="confirmModal('floatToFixed');">
            Yes
        </button>
        <button class="button button-block button-dark button-outline button-single" ng-click="closeModal('floatToFixed');">
            No
        </button>
    </ion-content>
</ion-modal-view>