<ion-modal-view ng-controller="HelpModalCtrl">
    <ion-header-bar>
        <h1 class="title">Help</h1>
    </ion-header-bar>
    <ion-content style="margin-bottom:1em;">
        <ion-list>
            <div ng-repeat="group in groups">
                <ion-item class="item-stable help-item"
                          ng-click="toggleGroup(group)"
                          ng-class="{active: group.shown}">
                    <i class="icon" ng-class="group.shown ? 'ion-minus' : group.icon"></i>
                    &nbsp;
                    {{group.name}}
                    <div ng-bind-html="group.content" ng-show="group.shown"></div>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-modal-view>