<ion-modal-view ng-controller="ICalUploadCtrl">
    <ion-header-bar>
        <h1 class="title">Upload iCal file</h1>
    </ion-header-bar>
    <ion-content>
        <form name="icalUploadForm" novalidate ng-keyup="keyUpHandler($event.keyCode, icalUploadForm.$invalid);">
            <div class="list customFormErrorList">
                <div ng-show="icalUploadForm.file.$error.required && !icalUploadForm.file.$pristine" class="item help-block">Please provide a valid file.</div>
                <div ng-show="errorInfo" class="item help-block help-block-error">
                    {{errorInfo}}
                </div>
            </div>
            <div class="list">
                <label class="item item-input" ng-class="{ 'has-error' : icalUploadForm.file.$invalid && !icalUploadForm.file.$pristine }">
                    <div class="input-label">
                        iCalendar File
                    </div>
                    <input type="file" file-model="$root.icalFile" id="uploadedFileEdit" required name="uploadedFile" accept=".ical,.ics" class="inputfile">
                    <span class="inputfile-label">{{$root.icalFile ? $root.icalFile.name : 'Choose an iCalendar file'}}</span>
                </label>
            </div>

            <div class="row">
                <div class="col-50 padding-horizontal padding-top">
                    <button class="button button-block button-positive" ng-disabled="!$root.icalFile" ng-click="uploadFile()">
                        Save
                    </button>

                </div>
                <div class="col-50 padding-horizontal padding-top">
                    <button class="button button-block button-outline button-stable" ng-click="$parent.closeUploadIcalModal();">
                        Cancel
                    </button>   
                </div>
            </div>
        </form>
    </ion-content>
</ion-modal-view>