@font-face {
    font-family: "FontAwesome-web";
    src: url("../fonts/fontawesome-webfont.ttf") format('truetype');
}
@font-face {
    font-family: "DINpro-Regular";
    src: url('../fonts/DINPro-Regular_13937.ttf') format('truetype');
}
@font-face {
    font-family: "Flat-it-Compasse-Bold";
    src: url('../fonts/Compasse-Bold.otf') format('opentype');
}
@font-face {
    font-family: "RobotoSlab-Light";
    src: url('../fonts/RobotoSlab-Light.ttf') format('truetype');
}
@font-face {
    font-family: "Flat-it-Compasse-Light";
    src: url('../fonts/Compasse-Light.otf') format('opentype');
}

* {margin:0;padding:0;} 

html, body
{
    font-family: "RobotoSlab-Light";
    width:100%;
    height:100%;
}

header{
    height:100px;
    background-color: #263238;
}

footer {
    position: static;
    bottom:0;
    height: 100px;
    width:100%;
    background-color: #263238;
}

.fc-basic-view .fc-body .fc-row {
    min-height:8em;
}

.calendarControls {
    background-color:#eee;
    border-bottom: 1px solid #ddd;
}

.smallPopover {
    width:200px;
    text-align:center;
    height:auto;
}

.regularPopover {
    height:auto;
}

.regularPopover .list {
    margin:0;
}

h2 {
    font-size:25px;
}

.smallPopover h2 {
    font-size:13px;
    margin:0;
}

//Scale-In Animation
.scale-in {
    transform: scale(0.9);
    opacity: 0;
}
.scale-in.ng-enter,
.scale-in > .ng-enter {
    transition: all cubic-bezier(.1, .7, .1, 1) 400ms;
}

.scale-in.ng-enter-active,
.scale-in > .ng-enter-active {
    transform: scale(1);
    opacity: 1;
}

.scale-in.ng-leave,
.scale-in > .ng-leave {
    transition: all ease-in-out 250ms;
}

.range {
    padding: 6px 0 5px 16px;
}