@font-face {
    font-family: "FontAwesome-web";
    src: url("../fonts/fontawesome-webfont.ttf") format('truetype');
}
@font-face {
    font-family: "DINpro-Regular";
    src: url('../fonts/DINPro-Regular_13937.ttf') format('truetype');
}
@font-face {
    font-family: "Flat-it-Compasse-Bold";
    src: url('../fonts/Compasse-Bold.otf') format('opentype');
}
@font-face {
    font-family: "RobotoSlab-Light";
    src: url('../fonts/RobotoSlab-Light.ttf') format('truetype');
}
@font-face {
    font-family: "Flat-it-Compasse-Light";
    src: url('../fonts/Compasse-Light.otf') format('opentype');
}

* {margin:0;padding:0;} 

html, body
{
    font-family: "Flat-it-Compasse-Light", "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif; 
    width:100%;
    height:100%;
}

header{
    height:100px;
    background-color: #263238;
}

footer {
    position: static;
    bottom:0;
    height: 100px;
    width:100%;
    background-color: #263238;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Flat-it-Compasse-Light", "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif; 
}

h2 {
    font-size:25px;
}

.button {
    border-radius:0 ! important;
}

.smallPopover h2 {
    font-size:13px;
    margin:0;
}

.rangeInfo {
    position: absolute;
    text-align:center;
    width:100%;
    bottom: 3px;
    right: 0px;
    font-size:90%;
}

.calendarControls {
    background-color:#eee;
    border-bottom: 1px solid #ddd;
}

.smallPopover {
    width:200px;
    text-align:center;
    height:auto;
}

.regularPopover {
    height:auto;
}

.regularPopover .list {
    margin:0;
}

.customFormErrorList {
    margin:-1px 0 0 0 ! important;
    padding:0;
}

.customFormErrorList .help-block {
    margin:0 0 5px 0 ! important;
}

.itemDeleter {
    z-index: 55;
    position: absolute;
    top: 0px;
    padding:0px 5px 1px 5px;
    right: 0px;
    font-size: 15px;
    font-weight:bold;
    background:black;
    color:#f00;
    cursor:pointer;
    border-radius:0 0 0 4px;
}

.itemDeleter:hover {
    color: #fff;
}

.itemMarkAsDone {
    z-index: 55;
    position: absolute;
    top: 0px;
    padding:1px 5px 2px 5px;
    right: 20px;
    font-size: 13px;
    background:black;
    color:#0f0;
    cursor:pointer;
    border-radius:0 0 4px 4px;
}

.itemMarkAsDone:hover {
    color: #fff;
}

.has-error {
    background-color:rgba(255,0,0,.10) ! important;
}

.help-block {
    background-color:#FFFFCC;
    padding-top:5px;
    padding-bottom:5px;
}
.help-block-error {
    background-color:#FFccCC;
}

.help-block ul,.help-block li, .bold ul, .bold li  {
    font-size:98%;
    margin-left:15px;
    list-style-type: square;
}

.item-thanks {
    background-color:#fff;
    text-align: center;
    font-size:150%;
    padding:15%;
    border-top:3px solid #7ac142;
}

.simpleScreenWrapper {
    width: 100%;
    min-height: 100%;
    background: #eee;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    padding: 50px;
}

.simpleScreen {
    border:1px solid #ccc;  
    padding:30px;
    max-width: 500px;
    margin:auto ! important;
    background:white;
}

.simpleScreen h1 {
    margin: 0px auto 20px ! important;
    width: 100% ! important;
    text-align: center ! important;
    color: #94a3a8;
    font-family: "Flat-it-Compasse-Light", sans-serif;
}

.simpleScreen .input-label {
    width:23%;
}

.marginTop5 {
    margin-top:4em ! important;
}

.marginTop3 {
    margin-top:3em ! important;
}

.marginTop1 {
    margin-top:1.5em ! important;
}

.marginSides5 {
    margin-left:4em ! important;
    margin-right:4em ! important;
}

.marginSides3 {
    margin-left:3em ! important;
    margin-right:3em ! important;
}

.marginSides1 {
    margin-left:1em ! important;
    margin-right:1em ! important;
}

.button-single {
    width: auto ! important;
    margin-left: auto ! important;
    margin-right: auto ! important;
    margin-top:2.5em ! important;
    padding: 0em 2em ! important;
}

.bold {
    font-weight: bold;
    font-size:99%;
}

.width-100 {
    width:100%;
}

.select-needs .item, .select-blocks .item {
    font-weight:bold;
    margin:0;
    padding:3px 8px;
}

.select-needs .select-option-label-2, .select-blocks .select-option-label-2 {
    display:block;
    margin-top:3px;
    font-size:.8em;
}

.select-needs .select-option-label-2:before, .select-blocks .select-option-label-2:before {
    content: 'On: ';
}

.select-needs .select-option-label-3, .select-blocks .select-option-label-3 {
    display:block;  
    font-size:.8em;
}

.select-needs .select-option-label-3:before, .select-blocks .select-option-label-3:before {
    content: 'At: ';
}

.button-float-right {
    float:right;
}

.help-item > div {
    margin:1em 0 0 0;
}

.help-item, .help-item h2, .help-item p {
    white-space:normal ! important;
}

.help-item h2 {
    font-weight:bold;
    padding:.5em;
}

.help-item h3 {
    padding:.5em .75em;
}

.help-item p {
    padding:.5em 1em;
}

.help-item strong {
    font-size:105%;
}

.help-item a.center {
    text-align:center;
    font-size:120%;
    display:block;
}

.help-item.active {
    background-color: #efefef ! important;
}

.help-item li {
    color: #666;
    white-space: normal ! important;
    padding: 0 1em 0 0;
    font-size: 14px;
    margin: 0 0 3px 20px;
}

.help-item li li{
    padding: 0;
    margin: 0px;
    font-size:13px;
    margin-bottom:13px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile-label {
    text-overflow: ellipsis;
    overflow: hidden;
    color:#387ef5;
    cursor: pointer;
}

.item-text h2 {
    margin:1em .2em;
    font-size:120%;
}

.item-text li{
    margin:.5em 0 .5em 2em;
    list-style-type: square;
}
.item-text li span{
    position:relative;
}

.leftAlignedSelect {
    position:relative ! important;
    margin:0 ! important;
    padding:5px ! important;
    width:100% ! important;
    text-align:left ! important;
    direction: inherit ! important;
}

.nested-list {
    margin-bottom:5px;
}

.item-nested-list {
    padding: 6px 16px 12px 16px;
}

.item-nested-list .list{
    width:100%;
}

.item-nested-list .list .item{
    border:0;
}

.nested-list .item {
    padding:8px 16px;
    margin:0;
}

.nested-list .item-button-right button{
    top:4px;
    right:8px;
}

.footer {
    display: block;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    right: 0;
    left: 0;
    padding:0;
    border-width: 0;
    bottom: 0;
}

.footer-title {
    font-size:10px;
    line-height:10px;
    height:10px;
    padding:0;
    margin:0 10px;
    text-align:right;
    vertical-align: middle;
    display:block;
    color: #2f3131
}

.margin-left-menu {
    margin-left:38px ! important;
}


.fc-basic-view .fc-body .fc-row {
    min-height:8em;
}

.fc-event {
    line-height:1;
    border-radius:0;
}

.fc-event .fc-bg {
    opacity:0;
}

.fc-axis {
    font-size:13px;
}

.fc-time-grid .fc-slats td {
    padding-top:2px ! important;
    vertical-align:top ! important;
}

a.fc-day-number {
    width:100%;
    text-align:right;
}

td.fc-week-number {
    padding:1px ! important;
    height:100%;
    background-color:#eee ! important;
    border:1px solid #ddd ! important;
}

td.fc-week-number a {
    height:100%;
}

.fc-day-top.fc-other-month {
    opacity: 0.8 ! important;
}

.fc-day-top {
    background-color:#eee ! important;
    border:1px solid #ddd ! important;
}

.fc-agenda-view .fc-day-grid .fc-row .fc-content-skeleton {
    padding-bottom: 0em; /* give space underneath events for clicking/selecting days */
}

.fc-state-default {
    background-image:none;
    background:white;
    box-shadow:none;
    text-shadow:none;
    border:1px solid #2f3131;
    color: #2f3131;
}

.fc-day-grid .fc-title, .fc-day-grid .fc-time {
    font-weight:normal ! important;
}

.fc-title{
    margin-bottom:3px ! important;
}

.fc-desc {
    margin-top:3px;
}

.fc-state-active {
    background: #387ef5;
    color:white;
}

.custom-slot-display {
    margin:5px;
    font-size:9px;
    color:#888;
}

.fc-ltr .fc-time-grid .fc-event-container, .fc-rtl .fc-time-grid .fc-event-container, .fc-helper-container {
    margin:0 ! important;
}

.fc-event .fc-content {
    padding:3px;
    height:100%;
    text-align: left;
}

.fc-time-grid-event .fc-time,.fc-time-grid-event .fc-resource, .fc-time-grid-event .fc-due {
    font-size: .9em;
    white-space: normal;
    margin-left:2px;
    margin-bottom:1px;
    font-family: "Flat-it-Compasse-Light", "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif; 
}

.fc-event .fc-content .fc-time {
    text-align:left;
}
.fc-event .fc-content .fc-title {
    text-align:left;
    margin-bottom:1px;
    overflow: hidden;
    white-space: pre-line;
    text-overflow:ellipsis;
}

.fc-event .fc-content .fc-due, .fc-event .fc-content .fc-resource {
    text-align:left;
    white-space: pre;
    overflow: hidden;
    width:100%;
    text-overflow:ellipsis;
}

.no-cal-padding {
    padding-left:0;
    padding-right:0;
    border-left:0;
    border-right:0;
    padding-bottom:0;
    border-bottom:0;
}

.no-cal-padding > .fc-toolbar {
    padding-left:3px ! important;
    padding-right:3px ! important;
}

.title span {
    color:#387ef5;
    font-size:.75em;
    padding: 0 5px 0 0;
}

.modal .range {
    padding: 6px 16px 5px 16px;
}

.modal .range input[type="range"] {
    margin:-8px 0 9px 0;
}

.button-small {
    min-width:35px ! important;
    min-height:30px ! important;
}

input[type=text], input[type=password], input[type=email] {
    padding:5px;
}

.modal input[type=text], .modal input[type=password], .modal input[type=email] {
    padding-left:0 ! important;
}

.button-hover-balanced:hover {
    color: #ccc ! important;
}

.button-gold {
    background: #ffa400 ! important;
    color:white ! important;
}

.button-red {
    background: #bd0000 ! important;
    color:white ! important;
}

.smallerPopover {
    padding:1em;
    border:1px solid black;
}

.smallerPopover h2 {
    margin:1em;
}

.smallerPopover .scroll-content {
    display: table !important;
    width: 100% !important;
    height: 100% !important;
}

.smallerPopover .scroll {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.item-no-wrap {
    white-space:normal;
}

.form .input-label {
    font-size:.85em;
    width:auto;
}

.hopscotch-nav-button, .hopscotch-bubble-close, .hopscotch-actions {
    position:relative;
    pointer-events:all;
    border-radius:0 ! important;
    font-family: "Flat-it-Compasse-Light", "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif ! important;
    font-weight: normal ! important;
}

.toggle-gold input:checked + .track {
    border-color:#ffa400 ! important;
    background-color:#ffa400 ! important;    
}

.overflow-scroll {
    overflow-y: auto ! important;
}

input[readonly=true] {
    cursor:pointer ! important;
}

.leftMenu ion-content { 
    margin-bottom:50px;
}

.leftMenu .item-icon-left {
    padding:10px 26px 10px 64px;
    font-size:.99em ! important;
}

.leftMenu .list-divider {
    font-weight:bold;
    padding:5px 5px 5px 10px;
    font-size:.99em ! important;
}

.inactive {
    opacity:.5;
}

.item-intro span {
    margin:5px;
    font-size:.9em;
    display:block;
}

.noScrollbarSelect {
    overflow:hidden;
    padding:10px;
    margin:0 -20px 0 0;
    border-color:#ddd;
}

.fc .fc-toolbar > * > * {
    margin-left: .35em;
}

ion-modal-view ion-header-bar .has-button-right {
    left:inherit ! important;
    right:90px ! important;
    text-align:left ! important;
}

div.hopscotch-bubble .hopscotch-bubble-number {
    display:none;
}

div.hopscotch-bubble .hopscotch-bubble-content {
    margin:0 20px;
}

div.hopscotch-bubble .hopscotch-nav-button.next, div.hopscotch-bubble .hopscotch-nav-button.next:hover {
    border:0;
    text-shadow:none;
    background-color: #444;
    background-image:none;
}

div.hopscotch-bubble .hopscotch-nav-button.next:hover {
    color:#e1e1e1;
}

.fc-nonbusiness {
    background: #c3c3c3;
}

input:required:invalid {
    background-image: radial-gradient(circle 4px at calc(100% - 4px) 4px, #f00 0%, transparent 100%);
}

h2.title {
    padding:20px;
    margin:0;
    text-align:center;
}

.button-assertive {
    background:#2f3131;
}

i.assertive {
    color:#2f3131;
}

.bar .title {
    font-size:24px;
}

.fc-toolbar {
    margin-bottom:10px;
}

#theOnlyCalendar {
    padding-top:10px;
}

.item-small {
    padding-top:5px ! important;
    padding-bottom:5px ! important;
}

.item-small .icon {
    font-size:1.5em ! important;
}

.item-xsmall {
    border:0;
    text-align:center;
    padding:1px ! important;
}

a.item-xsmall{
    color:#387ef5;
}

.app-info-wrapper {
    position: relative;
    height:100%;
    width:100%;
}
.app-info {
    position: absolute;
    top: calc(50% + 30px);
    left: 50%;
    transform: translate(-50%, -50%);
    background:rgba(0,0,0,.6);
    border-radius:5px;
    color:white;
    padding:15px;
    text-align:center;
}

.no-overflow, .no-overflow .scroll {
    overflow: hidden
}

.popup-body {
    overflow: hidden;
}

.popup-container {
    background: rgba(0,0,0,.25);
}

textarea {
    height:60px;
}

p.lowp {
    padding-top:.1em;
    padding-bottom:.3em;
    margin-left:.8em;
    font-size:.8em;
    margin-bottom: 0;
}

input[type=text]:focus, input[type=email]:focus, select:focus, textarea:focus {
    color:#387ef5;
}

input[type=text]:focus::-webkit-input-placeholder, input[type=email]:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:#387ef5;
}
input[type=text]:focus:-moz-placeholder, input[type=email]:focus:-moz-placeholder, textarea:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#387ef5;
    opacity:  1;
}
input[type=text]:focus::-moz-placeholder, input[type=email]:focus::-moz-placeholder, textarea:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#387ef5;
    opacity:  1;
}
input[type=text]:focus:-ms-input-placeholder, input[type=email]:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#387ef5;
}

.doneReminder {
    text-decoration: line-through;
}

.topLauncher {
    position:absolute;
    top:0;
    left:0;
    margin:0;
    height:44px;
    padding:5px 0;
    text-align: center;
    margin-left:246px;
}

.red {
    color:red ! important;
}

.fc-toolbar h2 {
    font-size:20px;
    position: relative;
    top:3px;
    margin:auto ! important;
}

.fc-toolbar .fc-center, .fc-toolbar .fc-right {
    display:flex;
}

.fc-state-default.fc-corner-left { /* non-theme */
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.fc-state-default.fc-corner-right { /* non-theme */
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

@media(max-width:1100px) {
    .fc-toolbar h2 {
        font-size:18px;
    }

    .fc button {
        padding: 0 .3em;
    }
}

@media(max-width:1000px) {
    .fc-toolbar h2 {
        font-size:17px;
        position: relative;
        top:4px;
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;
    }
}

@media(max-width:900px) {
    .fc-toolbar h2 {
        display:none;
    }

    .fc button {
        padding: 0 .6em;
    }
}

@media(max-width:850px) {
    .list {
        margin-bottom:10px;
    }

    #theOnlyCalendar {
        padding-top:.3em;
    }
}

@media(max-width:767px) {
    .fc-toolbar h2 {
        font-size:16px;
        display:block;
        position: relative;
        top:5px;
    }

    .fc-toolbar {
        margin-bottom:.3em ! important;
    }

    .fc-event .fc-content {
        padding:2px;
    }
}

@media(max-width:720px) {
    .fc-toolbar h2 {
        font-size:14px;
        position: relative;
        top:8px;
    }

    .fc button {
        padding: 0 .5em;
    }
}


@media(max-width:650px) {
    .fc-left {
        display:none;
    }

    .fc-toolbar h2 {
        font-size:17px;
        display:block;
        padding-right:3px;
        position: relative;
        top:5px;
    }
}

@media(max-width:500px) {
    .fc-toolbar h2 {
        font-size:14px;
        top:8px;
    }

    .simpleScreenWrapper {
        padding:20px;
    }

    .fc-event .fc-content {
        padding:1px;
    }

    #mainHeader .title {
        display:none;
    }

    .topLauncher {
        margin-left:50px;
        text-align:left;
    }

    .marginSides3, .marginSides5 {
        margin-left:0 ! important;
        margin-right:0 ! important;
    }

    .fc-agendaWeek-view .fc-day-header {
        font-size:.8em;
    }

    .fc-agendaWeek-view .fc-day-header {
        font-size:.8em;
    }
}

@media(max-width:450px) {
    .fc button {
        padding: 0 .4em;
    }

    .fc-agendaWeek-view .fc-day-header {
        font-size:.725em;
    }
}

@media(max-width:400px) {
    .fc button {
        padding: 0 .35em;
    }

    .fc-agendaWeek-view .fc-day-header {
        font-size:.7em;
    }
}

.fc-list-table td {
    position:relative;
}

.showCustom {
    display:block ! important;
}

input[type='number'].asText {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.no-top-border {
    border-top:0;
}

.inlineNumberInput {
    display:inline-block ! important;
    border: 1px solid #ddd ! important;
    vertical-align: baseline ! important;
    padding:0 10px ! important;
    text-align: right;
    width:30%;
    max-width: 60px;
}

.inlineSelect {
    min-height:34px ! important;
    border: 1px solid #ddd ! important;
    width:50%;
    max-width: 120px;
}

@-moz-document url-prefix() {
    .inlineSelect {
        position:relative;
        top:-5px;
    }
}

.inlineAddButton {
    min-height:34px ! important;
    border: 1px solid #ddd ! important;
    background:#33cd5f;
    color:white ! important;
}

#button-customId-now {
    background:#222 ! important;
}