@font-face {
    font-family: "FontAwesome-web";
    src: url("../fonts/fontawesome-webfont.ttf") format('truetype');
}
@font-face {
    font-family: "DINpro-Regular";
    src: url('../fonts/DINPro-Regular_13937.ttf') format('truetype');
}
@font-face {
    font-family: "Flat-it-Compasse-Bold";
    src: url('../fonts/Compasse-Bold.otf') format('opentype');
}
@font-face {
    font-family: "RobotoSlab-Light";
    src: url('../fonts/RobotoSlab-Light.ttf') format('truetype');
}
@font-face {
    font-family: "Flat-it-Compasse-Light";
    src: url('../fonts/Compasse-Light.otf') format('opentype');
}

* {margin:0;padding:0;} 

html, body
{
    font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif; 
    width:100%;
    height:100%;
}

header{
    height:100px;
    background-color: #263238;
}

footer {
    position: static;
    bottom:0;
    height: 100px;
    width:100%;
    background-color: #263238;
}

h2 {
    font-size:25px;
}

.smallPopover h2 {
    font-size:13px;
    margin:0;
}

.rangeInfo {
    position: absolute;
    text-align:center;
    width:100%;
    bottom: 7px;
    right: 0px;
    padding-left:35%;
    font-size:90%;
}

.rangeInfoFloating {
    right: 29%;
}

.calendarControls {
    background-color:#eee;
    border-bottom: 1px solid #ddd;
}

.smallPopover {
    width:200px;
    text-align:center;
    height:auto;
}

.regularPopover {
    height:auto;
}

.regularPopover .list {
    margin:0;
}

.customFormErrorList {
    margin:0;
    padding:0;
}

.eventDeleter {
    z-index: 55;
    position: absolute;
    top: 2px;
    right: 4px;
    font-size: 1.2em;
    color:rgba(255, 0, 0, .7);
}

.eventDeleter:hover {
    color: #f00;
}

.has-error {
    background-color:rgba(255,0,0,.10) ! important;
}

.help-block {
    background-color:#FFFFCC;
    font-size:95%;
    font-weight:bold;
    padding-top:5px;
    padding-bottom:5px;
}
.help-block-error {
    background-color:#FFccCC;
}

.help-block ul,.help-block li, .bold ul, .bold li  {
    font-size:98%;
    margin-left:15px;
    list-style-type: square;
}

.maxWidth-1000 {
    margin:50px;
    padding:50px;
    border:1px solid #ddd;
}

.maxWidth-1000 form, .maxWidth-1000 div {
    max-width: 1000px;
    margin:auto;
}

.marginTop5 {
    margin-top:4em ! important;
}

.marginTop3 {
    margin-top:3em ! important;
}

.marginTop1 {
    margin-top:1.5em ! important;
}

.marginSides5 {
    margin-left:4em ! important;
    margin-right:4em ! important;
}

.marginSides3 {
    margin-left:3em ! important;
    margin-right:3em ! important;
}

.marginSides1 {
    margin-left:1em ! important;
    margin-right:1em ! important;
}

@media(max-width:500px) {
    .marginSides3, .marginSides5 {
        margin-left:0 ! important;
        margin-right:0 ! important;
    }
}

.button-single {
    width: auto ! important;
    margin-left: auto ! important;
    margin-right: auto ! important;
    padding: 0em 2em ! important;
}

.bold {
    font-weight: bold;
    font-size:99%;
}

.width-100 {
    width:100%;
}

.select-needs .item, .select-blocks .item {
    font-weight:bold;
    margin:0;
    padding:3px 8px;
}

.select-needs .select-option-label-2, .select-blocks .select-option-label-2 {
    display:block;
    margin-top:3px;
    font-size:.8em;
}

.select-needs .select-option-label-2:before, .select-blocks .select-option-label-2:before {
    content: 'On: ';
}

.select-needs .select-option-label-3, .select-blocks .select-option-label-3 {
    display:block;  
    font-size:.8em;
}

.select-needs .select-option-label-3:before, .select-blocks .select-option-label-3:before {
    content: 'At: ';
}

.button-float-right {
    float:right;
}

.help-item > div {
    margin:1em 0 0 0;
}

.help-item, .help-item h2, .help-item p {
    white-space:normal ! important;
}

.help-item h2 {
    font-weight:bold;
    padding:.5em;
}

.help-item h3 {
    padding:.5em .75em;
}

.help-item p {
    padding:.5em 1em;
}

.help-item a.center {
    text-align:center;
    font-size:120%;
    display:block;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile-label {
    text-overflow: ellipsis;
    overflow: hidden;
    color:#387ef5;
    cursor: pointer;
}

.item-text h2 {
    margin:1em .2em;
    font-size:120%;
}

.item-text li{
    margin:.5em 0 .5em 2em;
    list-style-type: square;
}
.item-text li span{
    position:relative;
}

.taskTypeSelect {
    position:relative ! important;
    margin:0 ! important;
    padding:5px ! important;
    text-align:left ! important;
    direction: inherit ! important;
}

.nested-list {
    margin-bottom:5px;
}

.item-nested-list {
    padding: 6px 16px 12px 16px;
}

.nested-list .item {
    padding:8px 16px;
    margin:0;
}

.nested-list .item-button-right button{
    top:4px;
    right:8px;
}

.footer {
    display: block;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    right: 0;
    left: 0;
    height: 14px;
    padding:0;
    border-width: 0;
    background-color: #222;
    bottom: 0;
}

.footer-title {
    font-size:10px;
    line-height:10px;
    height:10px;
    padding:0;
    margin:2px auto;
    text-align:center;
    vertical-align: middle;
    display:block;
    color:white;
}

.margin-left-menu {
    margin-left:30px ! important;
}


.fc-basic-view .fc-body .fc-row {
    min-height:8em;
}

.fc-event {
    line-height:1.05;
}

.fc-event .fc-bg {
    opacity:0;
}

.fc-event .fc-content .fc-time {
    text-align:left;
    font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif; 
}
.fc-event .fc-content .fc-title {
    text-align:left;
    overflow: hidden;
    white-space: pre;
    text-overflow:ellipsis;
    font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif; 
}
.fc-event .fc-content .fc-due, .fc-event .fc-content .fc-resource {
    font-size:.95em;
    text-align:left;
    white-space: pre;
    overflow: hidden;
    width:100%;
    text-overflow:ellipsis;
    font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif; 
    margin-top:2px;
}

.fc-agenda-view .fc-day-grid .fc-row {
    min-height: 2em; /* all-day section will never get shorter than this */
}

.fc-agenda-view .fc-day-grid .fc-row .fc-content-skeleton {
    padding-bottom: 0em; /* give space underneath events for clicking/selecting days */
}

.fc-state-default {
    background-image:none;
    background:white;
    box-shadow:none;
    text-shadow:none;
    border:1px solid #222;
    color: #222;
}

.fc-state-active {
    background: #387ef5;
    color:white;
}

.custom-slot-display {
    margin:5px;
    font-size:9px;
    color:#888;
}

.fc-ltr .fc-time-grid .fc-event-container, .fc-rtl .fc-time-grid .fc-event-container {
    margin: 1px 1px 1px 2px;
}

.fc-event .fc-content {
    padding:5px;
    height:100%;
    text-align: left;
}


.fc-time-grid-event .fc-time {
    font-size: .8em;
    white-space: normal;
}

@media(max-width:500px) {
    .fc-event .fc-content {
        padding:3px;
    }   
}

.no-side-padding {
    padding-left:0;
    padding-right:0;
    border-left:0;
    border-right:0;
}

.no-side-padding > .fc-toolbar {
    padding-left:3px ! important;
    padding-right:3px ! important;
}

.title span {
    padding:1px 6px;
    border-radius:3px;
    background: #ffa400;
}

/* Ionic fixes */

.modal .range {
    padding: 6px 16px 5px 16px;
}

.modal .range input[type="range"] {
    margin-top:-13px;
}

.button-small {
    min-width:35px ! important;
    min-height:30px ! important;
}

input[type=text], input[type=password], input[type=email] {
    padding:5px;
}

.button-hover-balanced:hover {
    color: #ccc ! important;
}

.button-orange {
    background: #ffa400 ! important;
}

.smallerPopover {
    padding:1em;
    border:1px solid black;
}

.smallerPopover h2 {
    margin:1em;
}

.smallerPopover .scroll-content {
    display: table !important;
    width: 100% !important;
    height: 100% !important;
}

.smallerPopover .scroll {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.item-no-wrap {
    white-space:normal;
}

.taskSaveForm .input-label {
    font-size:.85em;
    width:auto;
}

.hopscotch-nav-button, .hopscotch-bubble-close, .hopscotch-actions {
    position:relative;
    pointer-events:all;
}

.overflow-scroll {
    overflow-y: auto ! important;
}

.maxWidth-1000 .input-label {
    width:23%;
}

input[readonly=true] {
    cursor:pointer ! important;
}

.leftMenu {
    max-width:90% ! important;
    min-width:50% ! important;
    width:auto ! important;
    position:absolute;
    left:0;
    right:auto;
    top:44px;
    bottom:0;
    height:100%;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.7);
}

.leftMenu .item-icon-left {
    padding:10px 26px 10px 64px;
    font-size:.99em ! important;
}

.leftMenu .list-divider {
    font-weight:bold;
    padding:5px 5px 5px 10px;
    font-size:.99em ! important;
}

.inactive {
    opacity:.5;
}

.item-intro span {
    margin:5px;
    font-size:.9em;
    display:block;
}

.select-no-scrollbar {
    overflow:hidden;
    padding:10px;
    margin:0 -20px 0 0;
    border-color:#ddd;
}

.fc .fc-toolbar > * > * {
    margin-left: .35em;
}

ion-modal-view ion-header-bar .has-button-right {
    left:inherit ! important;
    right:90px ! important;
    text-align:left ! important;
}

.bar .button, .bar button {
    padding: 0 5px 0 7px;
}